	#holidays table {
		border-collapse:collapse;
	}
	
	#holidays td,th {
		border:1px solid #CCd;
		padding:4px;
	}

	.plus-btn {
		float:right;
		font-size:20px;
		padding-right:8px;
		padding-left:8px;
		color:#2cb111;
		cursor:pointer;
	}

	.plus-btn:hover {
		background-color:#EAEAF7;
	}



	.link-approve {
		color:#090;
	}

	.link-approve:hover {
		color:#0c0;
	}

	.link-disapprove {
	}

	.link-disapprove:hover {
	}

	.link-remove {
		color:#900;
	}

	.link-remove:hover {
		color:#c00;
	}

	table#main-table td {
		width:20px;
		height:20px;
		border-color:rgb(165, 197, 223);
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.day-title {
		font-weight:bold;
		text-align:center;
	}

	.day-title-holiday {
		font-weight:bold;
		text-align:center;
		background-color:rgb(245, 178, 178);
	}

	.day-title-holiday-past {
		font-weight:bold;
		text-align:center;
		background-color:rgb(196, 179, 228);
	}

	.day-title-past {
		font-weight:bold;
		text-align:center;
		background-color:rgb(231, 231, 243);
	}

	.day-past {
		background-color:rgb(231, 231, 243);
	}
	.day-saved {
		background-color:#dde0a4;
	}
	.active-day {
		height:100%;
	}
	.day-partial {
		height:40%;
	}

	.mark-vacation {
		background-color:rgb(76, 184, 76);
	}
	.mark-assignment {
		background-color:#e4a9da;
	}
	.mark-leavematerinity {
		background-color:#b7d4f8;
	}
	.mark-leavesick {
		background-color:#f2a584;
	}
	.mark-leaveunpayed{
		background-color:#dd9c26;
	}
	.mark-unknown{
		background-color:#fe3737;
	}
	.mark-other{
		background-color:#ccc;
	}
	.mark-personal{
		background-color:#a68729;
	}

	.current-user {
		/*background-color:rgb(218, 252, 207);*/
		background-color:#adf0f2;
	}

	.current-user:hover {
	}

	.any-user:hover {
		background-color:rgb(240, 248, 248);
	}
