/* Some Fix for Full Version */
@media only screen and (max-width: 1200px) {

    .slicknav_menu {
        display: none;
    }

}

/* Mobile Landscape Size to Tablet (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {



}

/* Mobile Portrait Size to Mobile (devices and browsers) */
@media only screen and (max-width: 767px) {

    #main-container {
        min-width: 320px;
    }

    .box-container {
        width: 280px;
        padding: 0 20px;
    }

    .info-block, .site-phone, .work-time {
        display: none;
    }

    .login-button {
        margin: 0;
        position: absolute;
        top: 4px;
        right: 15px;
    }

    .login-button a {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
    }

    .login-button a span {
        display: none;
    }

    .login-button a i {
        margin: 0;
    }

    #logo {
        margin: 0 auto;
        float: none;
    }

    .navigation {
        display: none;
    }

    .slicknav_menu {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .slicknav_menu > a {
        position: absolute;
        top: 6px;
        left: 10px;
        padding: 10px;
    }

    .slicknav_icon {
        width: 20px;
        display: block;
    }

    .slicknav_icon-bar {
        display: block;
        width: 100%;
        height: 3px;
        background: #474747;
        margin: 0 0 6px 0;
    }

    .slicknav_icon-bar:last-child {
        margin: 0;
    }

    .slicknav_nav .navigation {
        display: block;
        padding: 56px 0 0 0;
    }

    .slicknav_nav .navigation li {
        float: none;
        margin: 0;
        min-height: 40px;
    }

    .slicknav_nav .navigation li a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        background: white;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        padding: 0 !important;
        border-bottom: 1px solid #cccccc;
    }

    a.slicknav_item {
        padding: 0;
        position: relative;
    }

    a.slicknav_item > span {
        position: absolute;
        left: 20px;
        top: 0;
    }

    .slicknav_nav .navigation > li > ul > li > ul,
    .slicknav_nav .navigation > li > ul {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        background: none;
    }

    .slicknav_nav .navigation li:after,
    .slicknav_nav .navigation > li > ul > li.dropdown:after {
        display: none !important;
    }

    .footer-bar > div > .on-left,
    .footer-bar > div > .on-right {
        display: none;
    }

    .footer-bar .on-center {
        width: 100%;
        float: none;
    }

    .footer-bar .on-center span {
        display: none;
    }

    .footer-bar .on-center .on-left {
        float: none;
    }

    .title-footer h2 {
        padding: 15px 0;
    }

    /* timing fix  */

    #content {
        display: none;
    }

    #main-content {
        height: 4686px;
        background: url(../content/fake-content.jpg) center bottom no-repeat;
    }

    .moving-bar {
        display: none;
    }

}