html {
    overflow-y: scroll;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.animate-custom, .animate-custom:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.opacity-custom {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE 5.5+*/
    -moz-opacity: 0.7; /* Mozilla 1.6 */
    -khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

.opacity-custom-hover:hover {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* IE 5.5+*/
    -moz-opacity: 0.7; /* Mozilla 1.6 */
    -khtml-opacity: 0.7; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.7; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

.box-container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: inherit;
    position: relative;
}

.box-container.medium {
    width: 1030px;
}

body {
    background: white !important;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    color: #333333;
    line-height: normal;
}

/**********************************************************/
/**************************HEADER**************************/
/**********************************************************/

/************************NAVIGATION************************/

.user-bar {
    background: #2d2d2d; /* Old browsers */
    background: -moz-linear-gradient(top,  #2d2d2d 0%, #2c2c2c 90%, #252525 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(90%,#2c2c2c), color-stop(100%,#252525)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2d2d2d 0%,#2c2c2c 90%,#252525 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2d2d2d 0%,#2c2c2c 90%,#252525 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2d2d2d 0%,#2c2c2c 90%,#252525 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2d2d2d 0%,#2c2c2c 90%,#252525 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
    height: 32px;
}

.navigation-bar {
    background: #343434; /* Old browsers */
    background: -moz-linear-gradient(top,  #343434 0%, #2c2c2c 90%, #252525 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(90%,#2c2c2c), color-stop(100%,#252525)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #343434 0%,#2c2c2c 90%,#252525 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #343434 0%,#2c2c2c 90%,#252525 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #343434 0%,#2c2c2c 90%,#252525 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #343434 0%,#2c2c2c 90%,#252525 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
    height: 56px;
}

/***************************LOGO***************************/

#logo {
    height: inherit;
    width: 170px;
    margin: 0 20px 0 0;
}

#logo a {
    display: block;
    width: inherit;
    height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/************************NAVIGATION************************/

nav {
    height: inherit;
}

.navigation {
    display: block;
    height: inherit;
}

.navigation > li {
    float: left;
    margin: 0 10px;
    height: inherit;
}

.navigation > li.dropdown {
    position: relative;
}

.navigation > li.dropdown:hover:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 46px;
    left: 50%;
    margin: 0 0 0 -10px;
}

.navigation > li > a {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
    padding: 0 10px;
    text-decoration: none;
    color: #b4b4b4;
    font-size: 15px;
}

.navigation > li:hover > a,
.navigation > li.active > a {
    color: white;
}

.navigation > li > ul {
    display: none;
    position: absolute;
    top: 56px;
    left: 10px;
    padding: 10px 0;
    background: white;
    z-index: 200;
}

.navigation > li:hover > ul {
    display: block;
}

.navigation > li > ul li a {
    display: block;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 15px;
    color: #626262;
    text-decoration: none;
    background: white;
    min-width: 200px;
}

.navigation > li > ul > li:hover > a,
.navigation > li > ul > li.active > a {
    background: #cccccc;
    color: #c61700;
}

.navigation > li > ul li.dropdown {
    position: relative;
}

.navigation > li > ul > li.dropdown:after {
    content: "\f105";
    font-family: FontAwesome, sans-serif;
    display: block;
    width: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 15px;
    cursor: pointer;
}

.navigation > li > ul > li.dropdown > a {
    padding: 0 40px 0 20px;
    min-width: 180px;
}

.navigation > li > ul > li > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: white;
}

.navigation > li > ul > li > ul > li a {
    min-width: 100px;
}

.navigation > li:hover > ul li:hover ul {
    display: block;
}

.navigation > li > ul > li > ul > li:hover > a,
.navigation > li > ul > li > ul > li.active > a {
    background: #cccccc;
    color: #c61700;
}

.event-button {
    height: 56px;
    overflow-y: hidden;
    padding: 0 10px;
    margin: 0 30px 0 0;
}

.event-button a {
    display: table-cell;
    vertical-align: middle;
    height: 54px;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    background: #c51600;
    font-size: 15px;
    border-bottom: 2px solid #961100;
    box-shadow: 0 0 8px black;
}

.login-button a {
    display: block;
    height: 28px;
    line-height: 28px;
    border: 2px solid #494949;
    margin: 12px 0;
    padding: 0 15px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

.login-button a i {
    color: #fc0000;
    margin: 0 15px 0 0;
}

/**************************INFO****************************/

.info-block,
.site-phone,
.work-time {
    height: inherit;
}

.site-phone a,
.site-phone i {
    display: table-cell;
    vertical-align: middle;
    height: inherit;
}

.site-phone i {
    color: #ff1300;
    font-size: 24px;
    padding: 0 10px 0 0;
}

.site-phone a {
    color: white;
    font-size: 19px;
    text-decoration: none;
}

.work-time span {
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
    color: #b3b3b3;
    height: inherit;
}

/************************USER*BAR**************************/

.user-menu-container {
    margin: 0 0 0 190px;
}

.user-status,
.user-notifications,
.user-name {
    height: inherit;
}

.user-status {
    min-width: 150px;
    text-align: right;
}

.user-status span {
    height: inherit;
    line-height: 32px;
    color: #b4b4b4;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.user-notifications ul {
    height: inherit;
}
.user-notifications ul li {
    height: inherit;
    float: left;
    margin: 0 10px 0 0;
    position: relative;
}

.user-notifications ul li:last-child {
    margin: 0;
}

.user-notifications ul li a.notification-link {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    color: #9a989a;
    text-decoration: none;
}

.user-notifications ul li a.common-link {
    display: block;
    position: absolute;
    top: 5px;
    right: -2px;
    background: white;
    border: 1px solid #ca271a;
    color: #ca271a;
    border-radius: 50%;
    font-size: 8px;
    min-width: 10px;
    text-align: center;
    text-decoration: none;
}

.user-name span {
    height: inherit;
    display: table-cell;
    vertical-align: middle;
}

.user-name span i {
    color: #ff1300;
    padding: 0 10px 0 0;
}

.user-name span a {
    color: #b4b4b4;
}

/**********************************************************/
/*************************CONTENT**************************/
/**********************************************************/

#main-container {
    overflow: hidden;
    min-width: 1200px; /* important fix*/
}

#main-content {

}

#content {

}

#models-cars.section {
    padding: 40px 0;
}

/**********************EDITOR*STYLES***********************/

.body {
    padding: 40px 0;
}

.body-image {
    display: block;
}

.body-image.show-on-left {
    float: left;
    margin: 0 20px 10px 0;
}

.body-image.show-on-right {
    float: right;
    margin: 0 0 10px 20px;
}

.body-image:focus {
    outline: none;
}

b {
    font-size: 26px;
}

.body p {
    padding: 0 0 20px 0;
}

.body ul {
    padding: 0 0 20px 20px;
}

.body ul li {
    list-style-type: disc;
    padding: 0 0 5px 0;
}

/***********************FORM*STYLES************************/

select,
input[type="checkbox"],
input[type="radio"] {
    display: none !important;
}

input[type="text"],
input[type="password"] {
    display: block;
    height: 18px;
    padding: 5px 10px;
    background: white;
    border: 1px solid #f4d1cc;
}

textarea {
    display: block;
    resize: vertical;
    line-height: 16px;
    padding: 5px;
    background: white;
    border: 1px solid #f4d1cc;
}

textarea,
input[type="text"]:focus,
input[type="submit"]:focus,
input[type="password"]:focus {
    outline: none;
}

form.page-form {
    padding: 40px 0 0 0;
}

.form-item {
    padding: 0 0 20px 0;
}

.form-item:last-child {
    padding: 0;
}

.form-item label {
    display: block;
    margin: 0 0 5px 0;
    color: #2a2a2a;
    font-size: 18px;
}

.form-item input {
    margin: 0;
}

.jq-selectbox {
    background: white;
    border: 1px solid #f4d1cc;
    position: relative;
}

form.page-form .jq-selectbox {
    border: 1px solid #e8e8e8;
    width: 60%;
}
form.page-form textarea {
    border: 1px solid #e8e8e8;
    width: 1158px;
    min-height: 160px;
}

form.page-form .form-item label {
    display: block;
    width: 100%;
}

form.page-form .form-item div.jq-selectbox {
    margin: 0;
}

form.page-form .form-item input[type="submit"] {
    width: inherit;
    text-align: center;
}

form.page-form .form-item div.jq-selectbox,
form.page-form .form-item div.jq-selectbox__select,
form.page-form .form-item div.jq-selectbox__dropdown {
    padding: 0;
}

#reviews-form.page-form {
    padding: 0;
}

form.page-form .form-item div.jq-selectbox__select-text {
    padding: 5px 30px 5px 10px;
}

.jq-selectbox__select-text {
    height: 20px;
    line-height: 20px;
    padding: 4px 30px 4px 10px !important;
    color: #a8a8a8;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.jq-selectbox__trigger {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.jq-selectbox__trigger:before {
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    content: "\f107";
    font-family: FontAwesome, sans-serif;
}

.jq-selectbox.dropdown .jq-selectbox__trigger:before {
    content: "\f106";
}

.jq-selectbox__dropdown {
    position: absolute;
    top: 28px;
    right: -1px;
    left: -1px;
    background: white;
    border: 1px solid #f4d1cc;
}

form.page-form .jq-selectbox .jq-selectbox__dropdown {
    border: 1px solid #e8e8e8;
}

.jq-selectbox__dropdown li {
    padding: 5px 10px;
    color: #a8a8a8;
    font-size: 14px;
    cursor: pointer;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
}

.jq-selectbox__dropdown li:hover {
    color: white;
    background: #cccccc;
}

.jq-checkbox {
    background: white;
    border: 1px solid #f4d1cc;
    width: 14px !important;
    height: 14px !important;
    line-height: 14px;
    margin: 0 8px 0 0;
    cursor: pointer;
    padding: 0 !important;
}

.jq-checkbox + label {
    cursor: pointer;
    width: auto !important;
}

.jq-checkbox.checked .jq-checkbox__div {
    padding: 0 !important;
}

.jq-checkbox.checked .jq-checkbox__div:before {
    display: block;
    width: inherit;
    height: inherit;
    font-size: 14px !important;
    line-height: inherit;
    text-align: center;
    content: "\f00c";
    font-family: FontAwesome, sans-serif;
}

.ui-datepicker {
    display: none;
    width: 202px;
    z-index: 900;
    background: white;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    height: 22px;
    line-height: 22px;
    color: white;
    background: #bd0f1f;
    font-size: 14px;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
    left: 0;
}

.ui-datepicker .ui-datepicker-next {
    right: 0;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    display: block;
    font-family: FontAwesome, sans-serif;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: "\f104";
}

.ui-datepicker .ui-datepicker-next:before {
    content: "\f105"
}

.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
    color: #cccccc;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: none;
}

.ui-datepicker .ui-datepicker-title {
    line-height: inherit;
    text-align: center;
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker thead {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.ui-datepicker th {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    padding: 0 !important;
    background: white;
    color: #303030;
}

.ui-datepicker td {
    padding: 0 !important;
    color: #303030;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}

.ui-datepicker td:first-child {
    border-left: 1px solid #e9e9e9;
}

.ui-datepicker td span {
    display: block;
    text-align: center;
    color: #828282;
    line-height: 16px;
    height: 16px;
}

.ui-datepicker td a {
    text-align: center;
    display: block;
    color: #303030;
    text-decoration: none;
    line-height: 16px;
    height: 16px;
}

.ui-datepicker td a:hover {
    color: white;
    background: #828282;
}

.ui-datepicker td a.ui-state-active {
    color: white;
    background: #bd0f1f;
}

.ui-datepicker td.ui-state-disabled span:hover {
    color: white;
    background: #e09aa1;
    cursor: pointer;
}

.ui-datepicker td.ui-datepicker-other-month span,
.ui-datepicker td.ui-datepicker-other-month span:hover {
    color: #bebebe;
    background: white;
    cursor: default;
}

input.datepicker + i {
    font-size: 22px;
    color: #bd0f1f;
    padding: 0 0 0 10px;
}

.jq-radio + label {
    font-size: 14px;
    margin: 0 !important;
    width: auto !important;
    float: left;
    cursor: pointer;
}

.jq-radio {
    display: block;
    float: left;
    width: 16px !important;
    height: 16px !important;
    background: white;
    border: 1px solid #c61c06;
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 8px 0 0 !important;
    cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    padding: 0 !important;
    background: #313131;
}

/*********************ELEMENTS*SUPPORT*********************/

h1 {
    display: block;
    font-size: 24px;
    height: 52px;
    line-height: 52px;
}

h2 {
    display: block;
    font-size: 22px;
    line-height: 40px;
}

.title h1 {
    color: white;
    text-align: center;
}

.title-gray h2,
.title-gray h1 {
    color: white;
    background: #333333;
    padding: 0 20px;
}

.title-footer h2 {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    height: inherit;
    padding: 0 0 15px 0;
}

.table-title h2 {
    background: #f7f7f7;
    padding: 0 20px;
}

.section-top h2 {
    padding: 0 0 30px 0;
}

.section-top .title-gray h2 {
    padding: 0 20px;
}

.title-with-link {
    position: relative;
}

.title-link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 0 40px;
    background-image: url(../images/section-sep.png);
    background-repeat: repeat-x;
    background-position: top center;
    background-color: white;
}

.title-link a {
    margin: 0 !important;
}

.title-breadcrumbs h2,
.title-breadcrumbs a,
.title-breadcrumbs span {
    display: inline-block;
    font-size: 22px;
    padding: 0 8px 0 0;
}

.reviews-slider-title h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin: -10px 0 10px 0;
    font-size: 16px;
}

.front-title h2 {
    font-size: 24px;
    text-transform: uppercase;
}

.section-gray .title-link {
    background-color: #f7f7f7;
}

a {
    text-decoration: underline;
    font-size: inherit;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.red-big-link,
.gray-big-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #c61700;
    border: 1px solid #c61700;
    height: 38px;
    line-height: 38px;
    margin: 20px 0;
    padding: 0 20px;
    font-size: inherit;
    cursor: pointer;
}

.red-small-link,
.green-small-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #c61700;
    border: 1px solid #c61700;
    height: 28px;
    line-height: 28px;
    padding: 0 30px;
    font-size: 14px;
    cursor: pointer;
}

.red-small-link:hover,
.red-big-link:hover {
    color: #c61700;
    background:white;
}

.gray-big-link {
    color: #333333;
    background: #d1d1d1;
    border: 1px solid #d1d1d1;
}

.gray-big-link:hover {
    color: #d1d1d1;
    background: #333333;
    border: 1px solid #333333;
}

.red-big-link + .gray-big-link {
    margin: 0 0 0 10px;
}

.section-small .red-big-link {
    margin: 0;
    display: block;
}

.green-small-link {
    background: #009166;
    border: 1px solid #009166;
}

.green-small-link:hover {
    color: #009166;
    background:white;
}

.gray-small-link {
    display: inline-block;
    text-decoration: none;
    color: #2c2c2c;
    background: #ececed;
    border: 1px solid #ececed;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    font-size: 14px;
}

.gray-small-link:hover {
    background: white;
}

.gray-small-link.grayer {
    border: 1px solid #828282;
    background: #828282;
    color: white;
}

.gray-small-link.grayer:hover {
    color: #828282;
    background: white;
}

.red-text {
    color: #c61700;
}

.gray-text {
    color: #848484;
}

.green-text {
    color: #009166;
}

.red-hover {
    text-decoration: none;
    font-weight: bold;
}

.red-hover:hover {
    color: #c61700;
}

strong {
    font-weight: bold;
}

.bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    color: #c71707;
    margin: 0 10px 0 0;
}

.circle-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background: #ececec;
    color: #5d5d5d;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 0 1px 1px #aaaaaa;
}

.active .circle-icon,
.super-slider-nav-tabs li:hover .circle-icon {
    color: #bd0f1f;
}

table {
    width: 100%;
}

th {
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    color: white;
    background: #313131;
    text-align: center;
    padding: 0 8px;
}

th:first-child {
    padding: 0 20px;
}

td {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #7d7d7d;
    line-height: 14px;
    padding: 8px;
}

tr td:first-child {
    text-align: left;
    padding: 8px 20px;
}

tr.strong td {
    font-weight: bold;
    color: #2a2a2a;
}

table.odd-even tr:nth-child(odd) {
    background: #f7f7f7;
}

.table-element {
    margin: 0 0 30px 0;
}

.text-body {
    font-size: 14px;
    color: #7d7d7d;
    text-align: justify;
}

.text-body p,
.text-body img {
    margin: 0 0 20px 0;
}

.text-body p img {
    margin: 0;
}

.table-element.collapsed {
    cursor: pointer;
}

.table-element.collapsed .table-title {
    position: relative;
}

.table-element.collapsed .table-title:after {
    display: block;
    content: "\f107";
    font-family: FontAwesome, sans-serif;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 40px;
    width: 40px;
}

.table-element.collapsed.open .table-title:after {
    content: "\f106";
}

.table-element.collapsed .table-body {
    display: none;
}

.mail-as i {
    padding: 0 10px 0 20px;
    color: #c61700;
}

.seo-text {
    font-size: 15px;
}

/*********************SECTION*SUPPORT**********************/

.section {
    padding: 0 0 40px 0;
}

.section.padding {
    padding: 40px 0;
}

.section-top {
    padding: 50px 0 40px 0;
}

.section-sec {
    background-image: url(../images/section-sep.png);
    background-position: top center;
    background-repeat: repeat-x;
}

.section-small {
    padding: 10px 0;
    margin: 0 0 20px 0;
}

.section-gray {
    background-color: #f7f7f7;
}

.section-red {
    background-color: #c61700;
    background-image: url(../images/section-red-sep.png);
    background-position: top center;
    background-repeat: repeat-x;
}

.section-red.padding {
    padding: 20px 0;
}

.section-tabs .section {
    padding: 40px 0;
}

.left-part {
    float: left;
    width: 565px;
}

.right-part {
    float: right;
    width: 565px;
    margin: 0 0 0 40px;
}

.left-margin {
    margin: 0 0 0 40px;
}

.right-margin {
    margin: 0 40px 0 0;
}

.on-left {
    float: left;
}

.on-right {
    float: right;
    text-align: right;
}

.on-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

.nowrap {
    white-space: nowrap;
}

.bottom-part {
    clear: both;
    margin: 40px 0 0 0;
}

.border-bottom {
    border-bottom: 1px solid #bfbfbf;
}

.border-top {
    border-top: 1px solid #bfbfbf;
    margin: 0;
}

.border-left {
    border-left: 1px solid #bfbfbf;
}

.border-right {
    border-right: 1px solid #bfbfbf;
}

/*************************POPUPS***************************/

.popup-shadow {
    display: none;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 900;
    cursor: pointer;
}

.popup {
    display: none;
    background: #f7f7f7;
    padding: 0 0 30px 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 950;
}

.popup p {
    margin: 0 0 20px 0;
}

.popup.medium-popup {
    width: 600px;
}

.popup-section {
    padding: 30px 40px 0 40px;
}

.popup-close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #6e6f6e;
}

.popup-close:hover {
    color: #c51700;
}

.popup.medium-popup .popup-section .on-left,
.popup.medium-popup .popup-section .on-right {
    width: 240px;
}

.popup-form .form-item {
    padding: 0 0 15px 0;
}

.popup-form .form-item.radio {
    padding: 0;
}

.popup-form .form-item label {
    width: 100%;
    padding: 0;
    min-height: 17px;
}

.popup-form .form-items {
    padding: 20px 0;
}

.popup.medium-popup .popup-section .on-left input,
.popup.medium-popup .popup-section .on-right input {
    width: 220px;
}

.popup.medium-popup .popup-section .on-left input.datepicker,
.popup.medium-popup .popup-section .on-right input.datepicker {
    width: 180px;
}

.popup-form select,
.popup-form .jq-selectbox {
    width: 240px !important;
}

.popup-form select,
.popup-form .jq-selectbox__select,
.popup-form .jq-selectbox,
.popup-form .jq-selectbox__select-text,
.popup-form .jq-selectbox__dropdown {
    margin: 0;
    padding: 0;
}

.three-form-items .form-item {
    width: 146px !important;
    margin: 0 40px 0 0;
}

.three-form-items .form-item:last-child {
    margin: 0;
}

.three-form-items .form-item select,
.three-form-items .form-item .jq-selectbox {
    width: inherit !important;
}

.three-form-items .form-item input {
    width: 124px !important;
}

.test-drive-image-container {
    margin: 0 0 20px 0;
    background: url(../images/logo-black.png) center center no-repeat;
    min-height: 140px;
    text-align: center;
}

.test-drive-image-container.no-bg {
    background: none;
    min-height: inherit;
}

.test-drive-image-container img {
    display: inline-block;
    vertical-align: middle;
}

.agreement-checkbox-container {
    font-size: 14px;
    margin: -10px 0 20px 0;
}

#test-drive {
    height: 500px;
}

#call-back {
    height: 315px;
}

.use-popup {
    cursor: pointer;
}

.popup-info-fields {
    padding: 25px 0 0 0;
}

.popup-info-field {
    font-size: 14px;
    color: #828282;
}

.popup-info-field .on-left {
    width: 50% !important;
}

.popup-info-field.padding {
    padding: 0 0 20px 0;
}

.popup-info-field-text {
    color: #313131;
}

.popup-form .on-left textarea,
.popup-form .on-right textarea {
    width: 228px;
    height: 164px;
    margin: 27px 0 0 0;
}

.action-line-list {
    padding: 20px 0;
}

.action-line-list li {
    float: left;
    display: block;
    background: #ececec;
    color: #828282;
    font-size: 26px;
    font-weight: bold;
    border: 3px solid #828282;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: relative;
    margin: 0 39px;
}

.action-line-list li.active {
    color: #c51700;
    border: 3px solid #c51700;
}

.action-line-list li:first-child {
    margin: 0 38px 0 0;
}

.action-line-list li:last-child {
    margin: 0 0 0 38px;
}

.action-line-list li:before,
.action-line-list li:after {
    display: block;
    content: "";
    position: absolute;
    height: 3px;
    width: 39px;
    background: #828282;
    top: 17px;
}

.action-line-list li:before {
    right: 39px;
}

.action-line-list li:after {
    left: 39px;
}

.action-line-list li.active:before,
.action-line-list li.active:after {
    background: #c51700;
}

.action-line-list li:first-child:before,
.action-line-list li:last-child:after {
    display: none;
}

.action-line-list li:first-child:after,
.action-line-list li:last-child:before {
    width: 38px;
}

.navigation-buttons {
    position: relative;
}

.navigation-buttons > div {
    text-align: center;
}

.navigation-buttons a,
.navigation-buttons input {
    display: none;
    width: 150px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.navigation-buttons input {
    width: 170px !important;
    height: 30px;
    line-height: 30px;
}

.navigation-buttons a.active,
.navigation-buttons input.active {
    display: inline-block;
}

.navigation-buttons .block {
    display: none;
    position: absolute;
    top: -30px; right: -40px; bottom: -30px; left: -40px;
    background: rgba(255,255,255,0.5);
    z-index: 100;
}

.popup-action {
    display: none;
    position: relative;
}

.car-line-custom-widths {
    padding: 0 0 20px 0;
}

.car-line-custom-widths .form-item {
    float: left;
    margin: 0 20px 0 0;
}

.car-line-custom-widths .form-item:last-child {
    margin: 0;
}

.car-line-custom-widths .form-item:nth-child(1),
.car-line-custom-widths .form-item:nth-child(2),
.car-line-custom-widths .form-item:nth-child(4) {
    width: 126px;
}

.car-line-custom-widths .form-item:nth-child(3) {
    width: 80px;
}

.car-line-custom-widths .form-item .jq-selectbox,
.car-line-custom-widths .form-item select {
    width: inherit !important;
}

.car-line-custom-widths-2 {
    padding: 0 0 20px 0;
}

.car-line-custom-widths-2 .form-item {
    float: left;
    padding: 0 20px 20px 0;
}

.car-line-custom-widths-2 .form-item:last-child {
    padding: 0 0 20px 0;
}

.car-line-custom-widths-2 .form-item:nth-child(1),
.car-line-custom-widths-2 .form-item:nth-child(2) {
    width: 160px;
}

.car-line-custom-widths-2 .form-item:nth-child(3),
.car-line-custom-widths-2 .form-item:nth-child(4) {
    width: 70px;
}

.car-line-custom-widths-2 .form-item:nth-child(1) input,
.car-line-custom-widths-2 .form-item:nth-child(2) input {
    width: 138px;
}

.car-line-custom-widths-2 .form-item:nth-child(3) input {
    width: 48px;
}

.car-line-custom-widths-2 .form-item .jq-selectbox,
.car-line-custom-widths-2 .form-item select {
    width: inherit !important;
}

.full-text textarea {
    width: 510px;
    margin: 0 0 20px 0;
    min-height: 90px;
    max-height: 250px;
}

.add-service-to-desc {
    display: none;
    position: absolute;
    top: -10px; right: -10px; bottom: -10px; left: -10px;
    background: #f7f7f7;
    z-index: 400;
    padding: 10px;
}

.add-service-to-desc-buttons .on-right a {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}

.add-service-to-desc-buttons .on-left .on-left {
    width: 50% !important;
}

.add-service-to-desc-buttons .on-left a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: normal;
}

.add-service-to-desc-buttons .on-left a:hover {
    text-decoration: none;
}

.add-service-to-desc-buttons .on-left a i {
    font-size: 22px;
    padding: 0 10px 0 0;
}

.action-line-text {
    color: #c51700;
    font-size: 18px;
    margin: -10px 0 20px 0;
}

.car-sell-line {
    padding: 0 0 20px 0;
}

.car-sell-line .form-item {
    float: left;
    margin: 0 20px 0 0;
}

.car-sell-line .form-item:last-child {
    margin: 0;
}

.car-sell-line .form-item:nth-child(1),
.car-sell-line .form-item:nth-child(2) {
    width: 180px;
}

.car-sell-line .form-item:nth-child(3) {
    width: 120px;
}

.car-sell-line .form-item .jq-selectbox,
.car-sell-line .form-item select {
    width: inherit !important;
}

.car-sell-line .form-item:nth-child(1) input,
.car-sell-line .form-item:nth-child(2) input {
    width: 168px;
}

.car-sell-line .form-item:nth-child(3) input {
    width: 108px;
}

.for-lazy-button {
    text-align: center;
    font-size: 22px;
    margin: 20px 0 60px 0;
}

.for-lazy-button a {
    color: #c51700;
}

.for-lazy-button a:hover {
    color: #303030;
}

.date-area {
    height: 120px;
}

.time-line {
    padding: 20px 0;
    position: relative;
}

.time-line-schema {
    display: none;
}

.time-line-label {
    float: left;
    line-height: 30px;
    width: 53px;
    margin: 0 6px 0 0;
}

.time-line-buttons {
    float: left;
}

.time-line-button {
    float: left;
    font-size: 14px;
    cursor: pointer;
    line-height: 28px;
    border: 1px solid #dddddd;
    text-align: center;
    width: 148px;
    margin: 0 5px 0 0;
    background: #dddddd;
}

.time-line-button:last-child {
    margin: 0;
}

.time-line-button.active,
.time-line-button:hover {
    background: white;
    border: 1px solid #f4d1cc;
}

.time-line-schema {
    position: absolute;
    bottom: 49px;
    left: 0;
    right: 0;
    border-top: 1px solid #f4d1cc;
    border-left: 1px solid #f4d1cc;
}

.time-line-schema li {
    float: left;
    width: 258px;
    line-height: 30px;
    text-align: center;
    background: white;
    border-bottom: 1px solid #f4d1cc;
    border-right: 1px solid #f4d1cc;
    cursor: pointer;
    font-size: 14px;
}

.time-line-schema li:hover {
    background: #dddddd;
}

.time-line-schema li.active {
    color: white;
    background: #de877b;
}

.time-line-text {
    display: none;
    float: left;
    padding: 0 0 0 30px;
    font-size: 14px;
    line-height: 30px;
}

.time-line-text span {
    display: inline-block;
    padding: 0 6px 0 0;
    line-height: 30px;
}

.time-line-text i {
    color: #bd0f1f;
    display: none;
    cursor: pointer;
}

.time-line-text:hover i {
    display: inline-block;
}

.map-container {
    border: 1px solid #f4d1cc;
    margin: -36px 0 0 0;
    width: 240px;
}

.map-container.with-margin {
    margin: 28px 0 0 0;
}

.address-container {
    font-size: 14px;
    line-height: 16px;
    padding: 2px 0 0 0;
    text-align: left;
}

#car-insurance .popup-action-2 .car-sell-line {
    padding: 20px 0 0 0;
}

#car-insurance .popup-action-2 .form-items {
    padding: 0 0 20px 0;
}

#car-insurance .popup-action-3 > div:nth-child(2) {
    padding: 20px 0 0 0;
}

#car-insurance .popup-action-3 .three-form-items {
    line-height: 30px;
}

#car-insurance .popup-action-3 .three-form-items .jq-radio {
    margin: 6px 8px 0 0 !important;
}

#car-insurance .popup-action-3 .form-items {
    padding: 0 0 20px 0;
}

#car-insurance .popup-action-3 .form-items .on-right .form-item {
    padding: 0;
}

#car-insurance .popup-action-3 > div:nth-child(3) .form-item:last-child {
    padding: 0;
}

.car-insurance-line {
    padding: 0 0 20px 0;
}

.car-insurance-line .form-item {
    float: left;
    margin: 0 20px 0 0;
}

.car-insurance-line .form-item:last-child {
    margin: 0;
}

.car-insurance-line .form-item:nth-child(1),
.car-insurance-line .form-item:nth-child(4) {
    width: 90px;
}

.car-insurance-line .form-item:nth-child(2),
.car-insurance-line .form-item:nth-child(3) {
    width: 138px;
}

.car-insurance-line .form-item .jq-selectbox,
.car-insurance-line .form-item select {
    width: inherit !important;
}

.add-driver-line {
    padding: 0 0 30px 0;
    text-align: center;
    font-size: 14px;
}

.add-driver-line i {
    padding: 0 8px 0 0;
    color: #ce3628;
}

.car-insurance-upload {
    padding: 10px 0;
}

.car-insurance-upload-link {
    margin: 0 0 5px 0;
}

.car-insurance-upload-link a {
    text-decoration: none;
    font-size: 14px;
}

.car-insurance-upload-link a i {
    color: #bd0f1f;
    padding: 0 8px 0 0;
    width: 15px;
    font-size: 18px;
}

.car-insurance-upload-link a:hover {
    color: #bd0f1f;
}

.car-insurance-upload-desc {
    font-size: 14px;
    color: #c51700;
    padding: 10px 0 20px 25px;
}

/***********************PAGINATION*************************/

.pagination {
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.pagination-list {
    display: inline-block;
    height: 30px;
}

.pagination-list li {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
}

.pagination-list li a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-decoration: none;
}

.pagination-list li a.pagination-prev,
.pagination-list li a.pagination-next {
    font-size: 20px;
}

.pagination-list li a.active,
.pagination-list li a:hover {
    color: #c61700;
}

.pagination-list li a.active {
    font-weight: bold;
}

.pagination-show-all {
    position: absolute;
    top: 0;
    right: 20%;
    height: 30px;
    line-height: 30px;
    padding: 20px 0;
}

/*************************FILTER***************************/

.filter {
    padding: 0 0 20px 0;
}

.filter > form > div {
    float: left;
    width: 33.333333%;
    line-height: 30px;
    height: 30px;
}

.filter-item .jq-selectbox {
    width: 210px;
}

.filter-item label {
    display: block;
    float: left;
}

label + .jq-selectbox {
    margin: 0 0 0 10px;
}

.filter .hidden {
    display: none;
}

.filter input[type="submit"] + label:before {
    content: "\f002";
    font-family: FontAwesome, sans-serif;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    color: #ef070f;
    cursor: pointer;
}

.filter input[type="text"].large {
    width: 320px;
}

.filter-item i {
    color: #c71707;
    padding: 0 10px 0 0;
    font-size: 20px;
}

#my-auto-styler {
    width: 90%;
    margin: 0;
}

.filter label + input[type="text"] {
    width: 190px;
    margin: 0 0 0 10px;
}

/**********************************************************/
/*************************BLOCKS***************************/
/**********************************************************/

/*********************PROFILE*SERVICE**********************/

#profile-service .left-part {
    width: 700px;
}

#profile-service .right-part {
    width: 430px;
}

.service-progress-item {
    padding: 0 0 10px 0;
}

.service-progress-item:last-child {
    padding: 0;
}

.service-progress-item-name {
    width: 160px;
}

.service-progress-item-rating {
    color: #9a989a;
}

.service-progress-item-rating .active {
    color: #c71707;
}

.service-progress-item-rating i {
    margin: 0 0 0 5px;
    cursor: pointer;
}

.service-progress-item-rating i:first-child {
    margin: 0;
}
.service-progress-item-rating i:last-child {
    margin: 0 0 0 15px;
    color: #c71707;
}

.service-progress-item-rating i:last-child:hover {
    color: #9a989a;
}


/**********************PROFILE*NEWS************************/

.profile-news-item {
    padding: 20px 0;
}

.profile-news-item-date {
    color: #9a989a;
    font-size: 14px;
    padding: 0 0 10px 0;
}

.profile-news-item-title {
    padding: 0 0 10px 0;
}

/*********************PROFILE*REVIEWS**********************/

.reviews-item {
    padding: 20px 0;
    position: relative;
}

.reviews-item-header {
    padding: 0 0 20px 0;
}

.reviews-item-avatar {
    margin: 0 20px 0 0;
    float: left;
}

.reviews-item-avatar a {
    display: block;
    height: 70px;
    width: 70px;
    background-color: black;
}

.reviews-item-info {
    margin: 0 0 0 90px;
}

.reviews-item-status,
.reviews-item-date {
    font-size: 13px;
    color: #afafaf;
}

.reviews-item-status.positive,
.reviews-item-vote-yes a {
    color: #6c9e00;
}

.reviews-item-status.negative,
.reviews-item-vote-no a {
    color: #9e0000;
}

.reviews-item-user {
    padding: 3px 0;
}

.reviews-item-user a {
    font-size: 16px;
}

.reviews-item-theme,
.reviews-item-desc {
    font-size: 14px;
}

.reviews-item-desc {
    line-height: 20px;
}

.reviews-item-rating {
    position: absolute;
    top: 20px;
    right: 0;
    color: #9a989a;
}

.reviews-item-rating .active {
    color: #c71707;
}

.reviews-item-rating i {
    margin: 0 0 0 5px;
}

.reviews-item-rating i:first-child {
    margin: 0;
}

.reviews-item-vote {
    padding: 20px 0 0 0;
}

.reviews-item-vote span {
    margin: 0 0 0 20px;
}

.reviews-item-vote span:first-child {
    margin: 0;
}

.reviews-item-name a {
    display: inline-block;
    line-height: 16px;
    margin: 0 0 5px 0;
}

.reviews-item-comments {
    position: absolute;
    top: 20px;
    right: 0;
    line-height: 24px;
    text-decoration: none;
}

.reviews-item-comments i {
    padding: 0 8px 0 0;
    font-size: 20px;
    line-height: inherit;
    color: #c81707;
}

.reviews-item.child {
    padding: 0 0 0 90px;
}

.reviews-item.border-bottom.child {
    padding: 0 0 20px 90px;
}

.reviews-item-reply {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 14px;
}

.reviews-item-rating-small {
    font-size: 12px;
    padding: 0 0 0 5px;
    color: #9a989a;
}

.reviews-item-rating-small i {
    padding: 0 0 0 3px;
}

.reviews-item-rating-small .active {
    color: #c71707;
}

.page-reviews-items {
    margin: -20px 0 40px 0;
}

/********************PROFILE*EVENTS************************/

.event-item {
    margin: 0 0 20px 0;
}

.event-item:last-child {
    margin: 0;
}

.event-item-image {
    float: left;
    margin: 0 20px 0 0;
}

.event-item-image a {
    display: inline-block;
    border: 1px solid #ececec;
    width: 158px;
    height: 120px;
}

.event-item-desc {
    font-size: 14px;
    margin: 0 0 18px 0;
}

.event-item-bar {
    line-height: 30px;
}

.event-item-price {
    font-weight: bold;
}

/**********************ACCESSORIES*************************/

.accessories-item {
    margin: 0 0 20px 0;
    position: relative;
}

.accessories-item-image {
    float: left;
    margin: 0 20px 0 0;
}

.accessories-item-image a {
    display: block;
    width: 218px;
    height: 118px;
    border: 1px solid #d5d5d5;
}

.accessories-item-info {
    float: left;
    width: 930px;
}

.accessories-item-category {
    padding: 0 0 5px 0;
}

.accessories-item-name {
    padding: 0 0 18px 0;
}

.accessories-item-desc {
    font-size: 14px;
    margin: 0 150px 0 0;
}

.accessories-item-button {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.accessories-item-price {
    font-weight: bold;
}

/**************************TABS****************************/

.tabs-navigation.section-sec {
    padding: 20px 0 0 0;
}

.tabs {
    height: 40px;
    line-height: 40px;
}

.tabs.three-tabs li {
    width: 383px;
}

.tabs.four-tabs li {
    width: 285px;
}

.tabs.five-tabs li {
    width: 226px;
}

.tabs li {
    float: left;
    line-height: inherit;
    height: inherit;
}

.tabs li {
    margin: 0 10px 0 0;
}

.tabs li:last-child {
    margin: 0;
}

.tabs li a {
    display: block;
    line-height: inherit;
    height: inherit;
    color: #9a989a;
    background: white;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.tabs li.active a,
.tabs li a:hover {
    color: white;
    background: #c61700;
}

.tabs.active-gray li.active a {
    background: #313131;
}

/**********************NEW*AUTO*LIST***********************/

.new-auto-items {
    padding: 20px 0 0 0;
}

.new-auto-item {
    display: inline-block;
    vertical-align: top;
    width: 215px;
    margin: 0 103px 0 0;
}

.four-in-line .new-auto-item:nth-child(4n) {
    margin: 0;
}

.new-auto-item-image {
    width: inherit;
    height: 140px;
}

.new-auto-item-image a {
    display: block;
    width: inherit;
    height: inherit;
}

.new-auto-item-name {
    padding: 5px 0;
}

.new-auto-item-name a {
    text-decoration: none;
}

.new-auto-item-name a:hover {
    color: #c61700;
}

.new-auto-item-desc {
    padding: 5px 0 20px 0;
    font-size: 14px;
    color: #787878;
    line-height: 15px;
}

.new-auto-item-info > div {
    line-height: 15px;
}

.new-auto-item-price-new {
    font-weight: bold;
}

.new-auto-item-price-old {
    color: #787878;
    font-size: 14px;
    text-decoration: line-through;
}

/*********************DESCRIPTION*ITEMS********************/

.description-items {

}

.description-item {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    margin: 0 37px 80px 0;
}

.description-item:nth-child(3n) {
    margin: 0 0 80px 0;
}

.description-item-image {
    width: inherit;
    height: 220px;
    margin: 0 0 20px 0;
}

.description-item-image a {
    display: block;
    width: inherit;
    height: inherit;
}

#description .bottom-part .red-big-link {
    width: 325px;
}

/*************************SCHEMA***************************/

.body-arrangement {
    height: 260px;
    margin: 0 0 20px 0;
    background: url(../images/cars_icon.jpg) 0 0 no-repeat;
    color: #7d7d7d;
    font-size: 14px;
    position: relative;
}

.body-arrangement.sedan { background-position: 0 -95px; }
.body-arrangement.jeep { background-position: 0 -360px; }
.body-arrangement.hatchback { background-position: 0 -616px; }
.body-arrangement.wagon { background-position: 0 -884px; }
.body-arrangement.crossover { background-position: 0 -1170px; }
.body-arrangement.sport { background-position: 0 -1416px; }
.body-arrangement.cabriolet { background-position: 0 -1670px; }
.body-arrangement.supercar { background-position: 0 -1930px; }
.body-arrangement.pickup { background-position: 0 -2220px; }
.body-arrangement.minibus { background-position: 0 -2520px; height: 300px; }
.body-arrangement.cargo { background-position: 0 -2870px; height: 300px; }

.body-arrangement-size {
    position: absolute;
}

.body-arrangement-size.length,
.body-arrangement-size.width-one,
.body-arrangement-size.width-two {
    top: 205px;
}

.body-arrangement-size.length {
    left: 285px;
}

.body-arrangement-size.width-one {
    left: 695px;
}

.body-arrangement-size.width-two {
    left: 995px;
}

.body-arrangement-size.height {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 110px;
    left: 575px;
}

.hatchback .body-arrangement-size.length { left: 270px; }
.hatchback .body-arrangement-size.width-one { left: 690px; }
.hatchback .body-arrangement-size.width-two { left: 990px; }

.jeep .body-arrangement-size.length,
.jeep .body-arrangement-size.width-one,
.jeep .body-arrangement-size.width-two { top: 219px; }
.jeep .body-arrangement-size.length { left: 295px; }
.jeep .body-arrangement-size.width-one { left: 700px; }
.jeep .body-arrangement-size.width-two { left: 1000px; }

.crossover .body-arrangement-size.height { top: 98px; left: 573px; }

.supercar .body-arrangement-size.length { left: 310px; }
.supercar .body-arrangement-size.width-one { left: 705px; }
.supercar .body-arrangement-size.width-two { left: 1005px; }
.supercar .body-arrangement-size.height { top: 118px; }

.pickup .body-arrangement-size.length,
.pickup .body-arrangement-size.width-one,
.pickup .body-arrangement-size.width-two { top: 213px; }
.pickup .body-arrangement-size.length { left: 310px; }
.pickup .body-arrangement-size.width-one { left: 703px; }
.pickup .body-arrangement-size.width-two { left: 1005px; }
.pickup .body-arrangement-size.height { top: 105px; left: 575px; }

.minibus .body-arrangement-size.length,
.minibus .body-arrangement-size.width-one,
.minibus .body-arrangement-size.width-two { top: 262px; }
.minibus .body-arrangement-size.length { left: 310px; }
.minibus .body-arrangement-size.width-one { left: 710px; }
.minibus .body-arrangement-size.width-two { left: 1008px; }
.minibus .body-arrangement-size.height { top: 130px; left: 575px; }

.cargo .body-arrangement-size.length,
.cargo .body-arrangement-size.width-one,
.cargo .body-arrangement-size.width-two { top: 256px; }
.cargo .body-arrangement-size.length { left: 310px; }
.cargo .body-arrangement-size.width-one { left: 710px; }
.cargo .body-arrangement-size.width-two { left: 1008px; }
.cargo .body-arrangement-size.height { top: 125px; left: 575px; }

.standard-equipment-items {
    margin: 0 0 40px 0;
}

.standard-equipment-item {
    display: inline-block;
    vertical-align: top;
    margin: 10px 40px 10px 0;
    width: 563px;
}

.standard-equipment-item:nth-child(2n) {
    margin: 10px 0;
}

.standard-equipment-title {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.standard-equipment-list li {
    padding: 0 0 0 20px;
    position: relative;
}

.standard-equipment-list li:before {
    display: block;
    content: "\f111";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 22px;
    color: #e30413;
    font-size: 7px;
}

/**********************REVIEWS*BLOCK***********************/

.reviews-slider-block {
    background: url(../images/reviews-bg.jpg) center center no-repeat;
    background-size: cover;
    padding: 40px 0 20px 0;
    margin: -39px 0 0 0;
}

.reviews-slider-block.front {
    padding: 20px 0;
    margin: 0;
}

.reviews-slider-header {
    height: 40px;
    position: relative;
}

.reviews-slider-header i {
    display: block;
    height: 38px;
    width: 38px;
    line-height: 38px;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 22px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -20px;
}

.reviews-slider-header:before,
.reviews-slider-header:after {
    content: "";
    display: block;
    height: 1px;
    width: 545px;
    background: white;
    position: absolute;
    top: 20px;
}

.reviews-slider-header:before {
    left: 0;
}

.reviews-slider-header:after {
    right: 0;
}

.reviews-slider-slider {
    padding: 20px 0 40px;
}

.reviews-slider-item {
    width: 100%;
    padding: 0 0 20px 0;
}

.reviews-slider-item-date {
    font-size: 13px;
    color: #bebebe;
    padding: 0 0 5px 0;
}

.reviews-slider-item-text {
    font-size: 14px;
    color: white;
    padding: 0 0 20px 0;
}

.reviews-slider-item-author {
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: right;
}

.add-review-link {
    text-align: right;
    padding: 15px 0;
}

.add-review-link a {
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 0 10px;
    line-height: 28px;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
}

.add-review-link a:hover {
    color: #aaaaaa;
    background: white;
}

/************************YOUR*AUTO*************************/

.your-auto-cost {
    margin: 20px 0 20px 40px;
    font-size: 22px;
    line-height: 40px;
}

.your-auto-cost strong {
    font-size: 28px;
}

.you-auto-info {
    margin: 20px 0;
}

.your-auto-cost-date {
    font-size: 14px;
    color: #9a989a;
}

/************************PDF*LINK**************************/

.pdf-link i {
    padding: 0 10px 0 0;
    font-size: 40px;
    color: #c61700;
}

.pdf-link-format {
    font-size: 14px;
    color: #afafaf;
}

/****************CHARACTERISTIC*NAVIGATION*****************/

.characteristics-navigation {
    margin: -20px 0 0 0;
    height: 16px;
    padding: 2px 0;
    line-height: 16px;
    font-size: 16px;
}

.characteristics-navigation span,
.characteristics-navigation li {
    margin: 0 10px 0 0;
}

.characteristics-navigation li {
    border-right: 1px solid black;
    padding: 0 10px 0 0;
}

.characteristics-navigation li:last-child {
    border-right: none;
}

.characteristics-navigation li a {
    cursor: pointer;
}

.characteristics-navigation li.active a {
    text-decoration: none;
}

/*********************ROTATION*SLIDER**********************/

.rotation-slider,
.gallery-rotation-slider {
    height: 130px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 0 20px 0;
}

.rotation-slider {
    width: 100%;
}

.gallery-rotation-slider.with-text {
    margin: 0 50px;
    overflow: visible;
}

.rotation-slider .swiper-slide {
    width: 220px;
    height: 130px;
}

.gallery-rotation-slider.with-text .swiper-wrapper {
    margin: 0 0 0 -90px;
}

.gallery-rotation-slider.with-text .swiper-slide {
    width: 180px;
    height: 120px;
}

.gallery-rotation-slider.with-text .swiper-slide-active {
    margin-right: 200px !important;
}

.rotation-slider .swiper-slide a {
    display: block;
    width: inherit;
    height: inherit;
}

.rotation-slider .swiper-slide a:focus {
    outline: none;
}

.gallery-rotation-slider.with-text .swiper-button-next {
    right: -40px;
}

.gallery-rotation-slider.with-text .swiper-button-prev {
    left: -40px;
}

.gallery-rotation-slider .stider-text {
    display: none;
    margin: 0 -200px 0 0;
    padding: 0 0 0 220px;
    width: 140px;
    font-size: 12px;
    color: #454545;
    height: inherit;
    overflow: hidden;
}

.gallery-rotation-slider .stider-text h3 {
    font-weight: bold;
    margin: 0 0 20px 0;
}

.gallery-rotation-slider .swiper-slide-active .stider-text {
    display: block;
}

/**********************SUPER*SLIDER************************/

.super-slider > div {
    min-height: 490px;
}

.super-slider.front {
    position: relative;
}

.super-slider.front > div {
    min-height: 440px;
    height: 440px;
    z-index: 0;
}

.front-slider {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.front-slider-item {
    display: none;
    height: 440px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.front-slider-item.active {
    display: block;
}

.event-slider-menu {
    padding: 10px 0;
}

.event-slider-menu li {
    padding: 0 0 5px 0;
}

.event-slider-menu li a {
    display: block;
    height: 36px;
    line-height: 36px;
    background-position: center center;
    background-repeat: no-repeat;
}

.event-slider-menu li a:hover,
.event-slider-menu li.active a {
    background-color: rgba(255,255,255,0.5);
}

.front-slider-text-items {
    position: absolute;
    right: 300px; bottom: 0; left: 220px;
    background: rgba(0,0,0,0.4);
}

.front-slider-text-item {
    display: none;
    padding: 5px 10px 10px 10px;
    color: white;
}

.front-slider-text-item.active {
    display: block;
}

.front-slider-text-item-title {
    font-size: 26px;
}

.front-slider-text-item-desc {
    font-size: 15px;
}

.left-side,
.right-side {
    position: absolute;
    top: 0;
    height: 440px;
    background: rgba(0,0,0,0.4);
    z-index: 700;
}

.left-side {
    left: 15px;
    width: 170px;
}

.right-side {
    right: 15px;
    width: 250px;
}

.this-car-logo {
    margin: 40px auto 50px auto;
}

.skoda { width: 69px; height: 83px;  background-image: url(../images/brands/skoda.png); }
.volvo { width: 59px; height: 55px; background-image: url(../images/brands/volvo.png); }
.chevrolet { width: 101px; height: 47px; background-image: url(../images/brands/chevrolet.png); }
.citroen { width: 82px; height: 58px; background-image: url(../images/brands/citroen.png); }
.peugeot { width: 89px; height: 73px; background-image: url(../images/brands/peugeot.png); }
.ford { width: 93px; height: 53px; background-image: url(../images/brands/ford.png); }
.kia { width: 95px; height: 62px; background-image: url(../images/brands/kia.png); }
.opel { width: 74px; height: 73px; background-image: url(../images/brands/opel.png); }
.seat { width: 69px; height: 55px; background-image: url(../images/brands/seat.png); }
.ssangyong { width: 88px; height: 58px; background-image: url(../images/brands/ssangyong.png); }

.this-car-info {
    background: #2b2b2b;
    color: #b0b0b0;
    font-size: 24px;
    line-height: 36px;
    padding: 12px 0;
    text-align: center;
}

.bu .this-car-info-name {
    line-height: 26px;
}

.this-car-info-price span {
    font-size: 32px;
    color: white;
}

.this-car-info-price-old {
    font-size: 20px;
    text-decoration: line-through;
    line-height: 20px;
}

.this-car-info-other {
    padding: 10px 0 0 0;
}

.this-car-info-other-line > div {

    width: 120px;
    line-height: 20px;
}

.this-car-info-other-label {
    float: left;
    text-align: right;
    font-size: 14px;
}

.this-car-info-other-text {
    float: right;
    text-align: left;
    font-size: 18px;
    color: white;
}

.this-car-some-links {
    padding: 25px 0 15px 0;
    text-align: center;
}

.nalichie .this-car-some-links,
.bu .this-car-some-links {
    padding: 15px 0 5px 0;
}

.this-car-some-links a {
    display: inline-block;
    color: white;
    margin: 0 0 10px 0;
    font-size: 15px;
}

.this-car-big-links {
    text-align: center;
}

.this-car-big-links a {
    display: inline-block;
    color: white;
    margin: 0 0 15px 0;
    font-size: 22px;
}

.this-car-buttons-links {
    text-align: center;
}

.this-car-buttons-links a {
    padding: 0 15px;
    min-width: 140px;
    text-align: center;
    margin: 0 0 20px 0;
}

.this-car-sell a {
    display: block;
    margin: 15px 30px 30px 40px;
}

.this-car-sell a:hover span:first-child {
    color: #bd0f1f;
}

.this-car-sell a span:last-child {
    width: 110px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 0;
}

.super-slider-nav-tabs {
    padding: 40px 0;
}

.super-slider-nav-tabs a {
    display: block;
    text-align: center;
    margin: 0 0 25px 0;
    text-decoration: none;
    cursor: pointer;
}

.super-slider-nav-tabs a span:first-child {
    display: inline-block;
}

.super-slider-nav-tabs a span:last-child {
    display: block;
    color: white;
    font-size: 13px;
    padding: 5px 0 0 0;
}

.super-slider-nav-tabs li:last-child a span:first-child i {
    padding: 0 0 0 7px;
}

.breadcrumbs {
    position: absolute;
    top: 0;
    left: 225px;
    right: 305px;
    height: 24px;
    line-height: 24px;
    background: rgba(0,0,0,0.4);
    z-index: 100;
    padding: 0 0 0 20px;
}

.breadcrumbs-two {
    height: 24px;
    line-height: 24px;
    padding: 10px 0 30px 0;
}

.breadcrumbs-list {
    display: block;
    height: inherit;
    line-height: inherit;
}

.breadcrumbs-list li {
    float: left;
    display: block;
    color: white;
    font-size: 14px;
    height: inherit;
    line-height: inherit;
    margin: 0 5px 0 0;
}

.breadcrumbs-list li a {
    display: block;
    height: inherit;
    line-height: inherit;
}

.address-button {
    margin: 0 10px;
    cursor: pointer;
}

.address-button > div {
    float: left;
    display: block;
    color: white;
    font-size: 14px;
}

.address-button-icon {
    width: 12px;
    height: 15px;
    margin: 5px;
}

.address-button-text {
    height: inherit;
    line-height: inherit;
}

.address-map {
    display: none;
    width: 310px;
    height: 340px;
    position: absolute;
    top: 25px;
    right: 0;
    background: rgba(0,0,0,0.4) url(../images/map.png) center center no-repeat;
    background-size: cover;
}

.close-address-map {
    height: 24px;
    line-height: 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    padding: 0 10px;
    color: white;
    font-size: 14px;
}

.close-address-map i {
    padding: 0 5px 0 0;
}

.salon-list li {
    position: absolute;
}

.salon-list li:hover {
    z-index: 10;
}

.salon-icon {
    display: block;
    width: 20px;
    height: 24px;
}

.salon-list li:hover .salon-icon {
    width: 30px;
    height: 34px;
    margin: -10px -5px 0 -5px;
}

.salon-name {
    display: none;
    position: absolute;
    right: -20px;
    top: 30px;
}

.salon-list li:hover .salon-name {
    display: block;
}

.super-slider-containers {
    overflow: hidden;
}

#video .youtube,
#video iframe {
    width: 750px;
    height: 440px;
    margin: 0 250px 0 170px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.youtube .play {
    height: 66px;
    line-height: 66px;
    width: 66px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -33px 0 0 -33px;
    background: rgba(256,256,256,0.7);
    border-radius: 50%;
}

.youtube .play:before {
    display: block;
    content: "\f04b";
    font-family: FontAwesome, sans-serif;
    font-size: 40px;
    padding: 0 0 0 6px;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

#video .text-element,
#video .text-body {
    margin: 20px 0 0 0;
}

.tabs-inner-navigation {
    position: absolute;
    top: 416px;
    left: 225px;
    right: 305px;
    height: 24px;
    line-height: 24px;
    background: rgba(0,0,0,0.4);
    z-index: 700;
    color: white;
    font-size: 14px;
}

.gallery-navigation.tabs-inner-navigation {
    background: none;
}

.tabs-inner-navigation li {
    float: left;
}

.body-navigation li {
    width: 33.333333%;
}

.gallery-navigation li {
    width: 315px;
    background: rgba(0,0,0,0.4);
}

.gallery-navigation li:last-child {
    float: right;
}

.colors-navigation li {
    width: 20%;
}

.tabs-inner-navigation li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.tabs-inner-navigation li.active a:before {
    display: inline-block;
    content: "\f111";
    font-family: FontAwesome, sans-serif;
    padding: 0 8px 0 0;
    color: #e30413;
    font-size: 10px;
}

.body-slider {
    width: 3510px;
    margin: 0 -1170px 0 -1170px;
    height: 440px;
}

.gallery-navigation-container .body-slider {
    width: 5850px;
    margin: 0 -2340px 0 -2340px;
}

.colors-navigation-container .body-slider {
    width: 100%;
    margin: 0;
}

.body-slider .swiper-slide a {
    display: block;
    width: inherit;
    height: inherit;
    position: relative;
}

.body-slider.gallery-exterior-top .swiper-slide a:after,
.body-slider.gallery-inter-top .swiper-slide a:after {
    display: block;
    content: "\f00e";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: rgba(0,0,0,0.5);
    width: 24px;
    height: 24px;
    margin: 0 0 0 -52px;
    color: white;
    line-height: 24px;
    text-align: center;
}

.body-slider .swiper-button-prev {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 1380px;
    width: 42px;
    height: 42px;
    margin: -21px 0 0 0;
    border-radius: 50%;
}

.gallery-navigation-container .body-slider .swiper-button-prev {
    left: 2510px;
}

.body-slider .swiper-button-prev:before {
    color: white;
    position:absolute;
    top: 0;
    left: 0;
    display: block;
    font-size: 34px;
    content: "\f104";
    width: 33px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 0 2px;
    font-family: FontAwesome, sans-serif;
}

.body-slider .swiper-button-next {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    right: 1460px;
    width: 42px;
    height: 42px;
    margin: -21px 0 0 0;
    border-radius: 50%;
}

.gallery-navigation-container .body-slider .swiper-button-next {
    right: 2630px;
}

.body-slider .swiper-button-next:before {
    color: white;
    position: absolute;
    top: 0; left: 0;
    display: block;
    font-size: 34px;
    content: "\f105";
    width: 33px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 0 0 5px;
    font-family: FontAwesome, sans-serif;
}

.colors-thumb {
    width: 100%;
    height: 52px;
    padding: 20px 0;
    overflow: hidden;
}

.colors-thumb .swiper-wrapper {
    margin: 0 0 0 -40px;
}

.colors-thumb .swiper-slide {
    width: 32px;
    height: 32px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.colors-thumb .swiper-slide .color-description {
    display: none;
    position: absolute;
    top: -10px;
    left: 52px;
    line-height: 15px;
    height: 30px;
    padding: 10px;
    width: 220px;
    overflow: hidden;
    background: white;
    z-index: 100;
    font-size: 14px;
    color: #454545;
}

.colors-thumb .swiper-slide .color-square {
    width: 30px;
    height: 30px;
    border: 1px solid #CCCCCC;
    position: relative;
    z-index: 0;
}

.colors-thumb .swiper-slide:hover {
    z-index: 100;
}

.colors-thumb .swiper-slide-active .color-square,
.colors-thumb .swiper-slide:hover .color-square {
    width: 50px;
    height: 50px;
    margin: -10px;
}

.colors-thumb .swiper-slide:hover .color-description {
    display: block;
}

/**************************EVENT***************************/

#add-your-phone .filter {
    padding: 40px 0 0 0;
}

.brand-items {
    width: 880px;
    margin: 0 auto;
}

.brand-item {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.brand-item > span,
.brand-item > img {
    display: block;
    margin: 0 auto 60px auto;
}

.event-deal-item {
    margin: 40px 0 0 0;
    display: inline-block;
    vertical-align: middle;
}

.event-deal-item:nth-child(3n-2) {
    width: 30%;
}

.event-deal-item:nth-child(3n-1) {
    width: 40%;
}

.event-deal-item:nth-child(3n) {
    width: 30%;
}

.event-deal-item-icon {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #ececec;
    color: #555554;
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 3px #cccccc;
}

.event-deal-item-text {
    display: block;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #555554;
    padding: 17px 0 0 30px;
}

.event-deal-item:hover .event-deal-item-icon,
.event-deal-item:hover .event-deal-item-text {
    color: #bd0f1f;
}

#banner-header {
    height: 440px;
    padding: 1px 0 0 0;
}

#banner-header .on-left {
    width: 780px;
    height: inherit;
}

#banner-header .on-right {
    width: 390px;
    height: inherit;
}

#banner-header a {
    display: block;
    width: inherit;
    height: inherit;
}

#banner-header .on-right a {
    height: 220px;
}

.event-list-items {
    padding: 20px 0 0 0;
}

.event-list-item-desc {
    font-size: 14px;
    margin: 0 370px 0 0;
}

.event-list-item-mark {
    position: absolute;
    top: 20px;
    right: 20px;
}

.event-list-item-mark-icon {
    height: 56px;
    width: 56px;
    line-height: 56px;
    text-align: center;
    background: #ececec;
    border-radius: 50%;
    font-size: 36px;
    color: #313131;
}

.event-list-item-mark:hover .event-list-item-mark-icon {
    color: #bd0f1f;
}

.event-list-item-mark-text {
    display: none;
    position: absolute;
    top: 13px;
    right: 65px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    white-space: nowrap;
    color: white;
    font-size: 15px;
    background: #313131;
}

.event-list-item-mark:hover .event-list-item-mark-text {
    display: block;
}

.event-list-item-mark-text:after {
    display: block;
    content: "";
    position: absolute;
    right: -18px;
    top: 5px;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #313131;
}

.red-event .event-list-item-mark-text {
    background: #bd0f1f;
}

.red-event .event-list-item-mark-text:after {
    border-left: 10px solid #bd0f1f;
}

.event-section .on-left {
    width: 780px;
}

.event-section .on-right {
    width: 350px;
    margin: 0 0 0 40px;
}

.event-section h2 {
    height: 52px;
    line-height: 52px;
}

.event-address-items {
    margin: 0 0 0 40px;
    background: #eaeaea;
    height: inherit;
    padding: 0 20px;
}

.event-address-item {
    padding: 20px 0 0 0;
    font-size: 15px;
}

.prev-event {
    padding: 20px 0 0 0;
}

.prev-event .on-left {
    width: 380px;
}

.prev-event .on-left a {
    display: block;
    width: inherit;
    height: 220px;
}

.prev-event .on-right {
    margin: 0 0 0 20px;
    width: 770px;
    font-size: 14px;
}

.event-bottom-links > div {
    line-height: 30px;
    width: 33.333333%;
}

/*************************SERVICE**************************/

.service-work-name {
    line-height: 55px;
    font-size: 22px;
}

.service-work-block-line {
    width: 20%;
    line-height: 40px;
}

.service-work-block-code {
    padding: 30px 0;
    font-size: 22px;
}

.service-work-block-code > div {
    display: inline-block;
    vertical-align: middle;
}

.service-work-block-code i {
    padding: 0 10px 0 20px;
}

.service-work-block-item {
    margin: 0 0 40px 0;
}

.service-work-block-item:last-child {
    margin: 0 0 20px 0;
}

.service-work-block-item-info {
    width: 35%;
    padding: 0 5% 0 0;
}

.service-work-block-item-author {
    width: 20%;
}

.service-work-block-item-desc {
    font-size: 14px;
}

.map-block-container {
    padding: 40px 0 40px 0;
}

.map-block-container .on-left {
    width: 780px;
    padding: 0 40px 0 0;
}

.map-block-container .on-right {
    width: 350px;
    text-align: left;
}

.map-block-container .on-right p {
    margin: 0 0 16px 0;
}

.map-block-map {
    width: 100%;
    height: 430px;
    background: #cccccc;
    border: 1px solid #bfbfbf;
}

.map-block-map.map-full {
    height: 630px;
}

/*************************POSTS****************************/

.post-item {
    display: inline-block;
    vertical-align: top;
    width: 270px;
    margin: 0 30px 60px 0;
}

.post-item:nth-child(4n) {
    margin: 0 0 60px 0;
}

.post-items-block .post-item {
    margin: 0 30px 30px 0;
}

.post-items-block .post-item:nth-child(4n) {
    margin: 0 0 30px 0;
}

.post-item-image {
    padding: 0 0 20px 0;
}

.post-item-image a {
    display: block;
    width: inherit;
    height: 180px;
}

.post-item-title {
    padding: 0 0 20px 0;
}

.post-item-desc {
    font-size: 14px;
    padding: 0 0 20px 0;
}

.post-item-info {
    display: block;
    height: 28px;
    line-height: 28px;
    border-bottom: 2px solid #ececed;
    padding: 0 20px;
    color: #a0a0a0;
    font-size: 14px;
}

.post-item-info:hover {
    background: #ececed;
}

.share-post {
    height: 40px;
    line-height: 40px;
}

.share-post a {
    margin: 9px 0 9px 10px;
}

.share-post span {
    font-size: 14px;
    margin: 0 0 0 10px;
}

.likes-buttons {
    padding: 20px 0;
}

.likes-buttons > div {
    display: inline-block;
    font-size: 14px;
}

.likes-buttons span {
    padding: 0 0 0 10px;
}

.likes-buttons i {
    padding: 0 10px 0 0;
    font-size: 24px;
    color: #555554;
}

.likes-buttons a:hover i {
    color: #bd0f1f;
}

/*************************LOGIN****************************/

.login-block {
    height: 530px;
    position: relative;
}

.login-block form {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.login-block .title h1 {
    color: #303030;
    font-size: 22px;
    padding: 0 0 20px 0;
}

.form-item {
    padding: 0 0 30px 0;
}

.form-item label,
.form-item input,
.form-item > div {
    display: inline-block;
    width: 25%;
}

.form-item input {
    width: 350px;
}

.form-item label {
    padding: 0 20px 0 0;
}

.form-item div {
    padding: 0 0 0 20px;
}

.form-item input[type="submit"] {
    min-width: 160px;
    max-width: 220px;
}

.form-item.with-or {
    color: #a0a0a0;
    margin: -15px 0 0 0;
    padding: 0 0 15px 0;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 25%;
    color: #303030;
    font-size: 22px;
}

.back-button i {
    padding: 0 8px 0 0;
}

.description-text {
    padding: 20px 0 0 0;
    margin: 0 0 -20px 0;
    font-size: 14px;
}

/*************************RATING***************************/

#master-rating .on-left {
    width: 730px;
}

#master-rating .on-right {
    width: 360px;
}

.master-rating-filter {
    padding: 0 0 20px 0;
}

.master-rating-filter .filter-item {
    float: left;
    width: 190px;
    margin: 0 10px 0 0;
}

.master-rating-filter .filter-item label {
    display: block;
    margin: 0 0 5px 0;
}

.master-rating-filter .filter-item .jq-selectbox {
    width: inherit;
    margin: 0;
}

.master-rating-filter .on-left input[type="submit"] {
    margin: 27px 0 0 0;
    height: 30px;
    line-height: 30px;
}

.master-rating-filter .on-right {
    padding: 27px 0 0 0;
}

.master-rating-filter .on-right label {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 0 10px 0 -40px;
    color: #ef070f;
}

.master-rating-filter .on-right input[type="text"] {
    float: left;
    margin: 0 10px 0 0;
    width: 225px;
}

.master-rating-filter .on-right input[type="submit"] {
    float: left;
    height: 30px;
    line-height: 30px;
}

.master-rating-info {
    padding: 0 0 20px 0;
    height: 30px;
    line-height: 30px;
}

.two-sort .sort-criteria {
    width: 50%;
    float: left;
    text-align: center;
}

.sort-criteria.up:after,
.sort-criteria.down:after {
    display: inline-block;
    padding: 0 0 0 8px;
    height: 30px;
    line-height: 30px;
    font-family: FontAwesome, sans-serif;
}

.sort-criteria.up:after {
    content: "\f106";
}

.sort-criteria.down:after {
    content: "\f107";
}

.master-items {

}

.master-item {
    padding: 0 0 40px 0;
    position: relative;
}

.master-item-image {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
}

.master-item-image a {
    display: block;
    width: inherit;
    height: inherit;
    background: #333333;
}

.master-item-info {
    padding: 0 100px;
}

.master-item-name a {
    font-size: 22px;
}

.master-item-center a,
.master-item-division,
.master-item-position {
    font-size: 14px;
}

.master-item-rating-bar {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    color: white;
    padding: 0 10px 0 20px;
    background: #5d5d5d;
    font-size: 14px;
    font-weight: bold;
    min-width: 40px;
}

.master-item-rating-bar i {
    display: block;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 0;
    font-size: 18px;
    position: absolute;
}

.master-item-rating-bar:before {
    display: block;
    content: "";
    border-top: 15px solid transparent;
    border-right: 11px solid #5d5d5d;
    border-bottom: 15px solid transparent;
    border-left: 11px solid transparent;
    position: absolute;
    top: 0;
    left: -22px;
}

.master-item-rating-bar.positive {
    background: #37aa32;
}

.master-item-rating-bar.positive:before {
    border-right: 11px solid #37aa32;
}

.master-item-rating-bar.negative {
    background: #e0090a;
}

.master-item-rating-bar.negative:before {
    border-right: 11px solid #e0090a;
}

.your-master-item {
    padding: 0 100px 40px 0;
    position: relative;
}

.master-item-rate {
    position: absolute;
    top: 35px;
    right: 0;
    font-size: 14px;
    padding: 5px 10px;
}

/*****************ACCESSORIES*THUMB*ITEMS******************/

#accessories-header > div > .on-left {
    width: 880px;
}

#accessories-header > div > .on-right {
    width: 250px;
    margin: 0 0 0 40px;
}

#accessories-header > div {
    background-position: center bottom;
    background-repeat: no-repeat;
}

.accessories-button {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.tech-center-menu-list {
    background: #f2f2f2;
}

.tech-center-menu-list li a {
    display: block;
    height: 50px;
    padding: 0 20px;
    text-decoration: none;
}

.tech-center-menu-list li a span {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    overflow: hidden;
}

.tech-center-menu-list li a:hover {
    background: #dedede;
}

.tech-center-menu-list li.active a {
    background: #303030;
    color: white;
}

.accessories-thumb-items {
}

.accessories-thumb-item {
    width: 260px;
    display: inline-block;
    vertical-align: top;
    margin: 30px 50px 0 0;
}

.accessories-thumb-item:last-child {
    margin: 30px 0 0 0;
}

.accessories-thumb-item-image {
    height: 140px;
    width: 100%;
    border: 1px solid #d5d5d5;
    background: white;
    margin: 0 0 20px 0;
}

.accessories-thumb-item-image a {
    height: inherit;
    width: inherit;
    display: block;
}

.accessories-thumb-item-title {
    margin: 0 0 15px 0;
}

.accessories-thumb-item-desc {
    font-size: 14px;
    margin: 0 0 15px 0;
}

.accessories-thumb-item-price {
    line-height: 30px;
    font-weight: bold;
}

.accessories-header-genius .box-container {
    min-height: 500px;
}

/********************MODELS*MARKS*LIST*********************/

#models-marks-filter .filter-item:first-child {
    margin: 0 60px 0 0;
}

#models-works-filter .filter-item {
    width: 50%;
}

/*********************TECH*CENTER*MAP**********************/

.techcenter-inner {
    min-height: 500px;
}

.techcenter-inner .on-right {
    width: 600px;
    margin: 0 -50px;
}

.techcenter-inner .on-left {
    width: 380px;
}

#big-center-map {
    background: url(../images/map-big.png) center center no-repeat;
    width: 600px;
    height: 600px;
    margin: -30px 0 -50px 0;
    position: relative;
}

.tech-center {
    position: absolute;
    width: 124px;
    height: 124px;
    cursor: pointer;
}

.tech-center.show,
.tech-center:hover {
    background: rgba(227,4,19,0.8);
}

.tech-center.show {
    cursor: default;
    z-index: 10;
}

.tech-center-1 { top: 140px; left: 155px; }
.tech-center-2 { top: 140px; left: 278px; }
.tech-center-3 { top: 140px; left: 400px; }
.tech-center-4 { top: 262px; left: 155px; }
.tech-center-5 { top: 262px; left: 278px; }
.tech-center-6 { top: 262px; left: 400px; }

.tech-center-icon {
    background: url(../images/f.png) center center no-repeat;
    width: 28px;
    height: 34px;
    position: absolute;
}

.tech-center-1 .tech-center-icon { top: 13px; left: 25px; }
.tech-center-2 .tech-center-icon { top: 28px; left: 55px; }
.tech-center-3 .tech-center-icon { top: 47px; left: 16px; }
.tech-center-4 .tech-center-icon { top: 68px; left: 81px; }
.tech-center-5 .tech-center-icon { top: 81px; left: 17px; }
.tech-center-6 .tech-center-icon { top: 64px; left: 31px; }

.tech-center-info {
    background: white;
    border: 1px solid #e6a3a9;
    padding: 20px 30px;
    position: absolute;
    top: 0;
    right: 124px;
    display: none;
    width: 370px;
    text-align: left;
}

.tech-center-info-name {
    font-size: 15px;
    margin: 0 0 10px;
    font-weight: bold;
}

.tech-center-info-address {
    font-size: 14px;
    margin: 0 0 10px;
}

.tech-center-info-worktime {
    font-size: 14px;
}

.tech-center-info-worktime-line {
    font-size: 13px;
}

.tech-center-info-worktime-line-salone,
.tech-center-info-worktime-line-techcenter {
    float: left;
    width: 155px;
}

.tech-center-info-more {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

.tech-center-info-more a {
    font-size: 12px;
}

.tech-center-info-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

/***********************FRONT*PAGE*************************/

.front-about .on-left {
    width: 760px;
    margin: 0 40px 0 0;
}

.front-about .on-right {
    width: 370px;
}

.front-about .body {
    font-size: 16px;
    padding: 20px 0 0 0;
}

.front-news-item {
    padding: 20px 0 0 0;
}

.front-news-item-date {
    font-size: 16px;
    color: #bd0f1f;
}

.front-news-item-title a {
    display: block;
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    color: #555554;
}

.front-news-archive {
    padding: 40px 0 0 0;
    font-size: 15px;
}

.front-links-container {
    float: left;
    width: 33.333333%;
    text-align: center;
}

.front-links-title h2 {
    color: #bd0f1f;
    font-size: 14px;
    font-weight: bold;
}

.front-links-inner {
    text-align: left;
}

.front-links-inner,
.front-links-list {
    display: inline-block;
}

.front-links-list li {
    padding: 0 30px 10px 0;
    position: relative;
}

.front-links-list li:after {
    display: block;
    content: "\f105";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    top: 0; right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.front-links-list li a {
    display: block;
    white-space: nowrap;
    font-size: 14px;
    color: #717171;
    line-height: 20px;
}

.favorit-title {
    height: 10px;
    border-bottom: 1px solid #bfbfbf;
    text-align: center;
    margin: 0 0 40px 0;
}

.favorit-title h2 {
    display: inline-block;
    background: white;
    margin: 0 0 -10px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 40px;
    line-height: 20px;
    color: #5a5a5a;
}

.section-gray .favorit-title h2 {
    background: #f7f7f7;
}

.front-map .on-right {
    width: 600px;
}

.front-map .on-left {
    width: 570px;
}

.about-company-items {
    text-align: center;
    padding: 80px 0 0 0;
}

.about-company-items-wrapper {
    text-align: left;
    display: inline-block;
    padding: 0 0 40px 0;
}

.about-company-item {
    padding: 0 0 20px 0;
}

.about-company-item-icon {
    float: left;
    height: 60px;
    width: 60px;
    margin: 0 20px 0 0;
}

.about-company-item-icon i {
    display: block;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 60px;
    font-size: 60px;
    color: #6e6f6e;
}

.about-company-item-text {
    float: left;
    padding: 10px 0;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    font-size: 16px;
    color: #626262;
}

.about-company-link a {
    color: #626262;
    font-size: 13px;
}

.front-info {
    padding: 0 0 10px 0;
}

.front-info-small-items {
    padding: 20px 0 0 0;
}

.front-info-item {
    text-align: left;
    float: left;
    width: 25%;
}

.front-info-item-wrapper {
    display: inline-block;
    text-align: left;
    color: #797979;
}

.front-info-item-wrapper:hover {
    color: #bd0f1f;
}

.front-info-small-items .front-info-item-text-icon {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
}

.front-info-small-items .front-info-item-icon {
    display: block;
    float: left;
    width: 100px;
    height: 60px;
    line-height: 60px;
}

.front-info-small-items .front-info-item-icon i {
    display: block;
    margin: 5px 25px;
    background: #ececec;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 1px 2px #cccccc;
}

.front-info-small-items .front-info-item-text {
    display: block;
    float: left;
    padding: 15px 0;
    line-height: 15px;
    height: 30px;
    overflow: hidden;
    font-size: 14px;
}

.front-buttons {
    padding: 0 0 20px 0;
}

.front-info-items {
    padding: 20px 0 0 0;
}

.front-info-items .front-info-item-icon {
    display: block;
    float: left;
    width: 100px;
    height: 80px;
    line-height: 80px;
}

.front-info-items .front-info-item-icon i {
    display: block;
    margin: 5px 10px 5px 15px;
    background: #ececec;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    box-shadow: 0 1px 2px #cccccc;
}

.front-info-items .front-info-item-text {
    display: block;
    float: left;
    padding: 20px 0;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.front-search-filter {
    height: 440px;
    overflow: hidden;
}

.front-search-filter-menu {
    height: 45px;
    line-height: 45px;
}

.front-search-filter-menu li {
    float: left;
}

.front-search-filter-menu li a {
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    font-size: 15px;
    text-decoration: none;
    color: #a0a0a0;
    background: rgba(0,0,0,0.6);
    cursor: pointer;
}

.front-search-filter-menu li a:hover {
    background: rgba(0,0,0,0.3);
}

.front-search-filter-menu li.active a,
.front-search-filter-menu li.active a:hover {
    color: white;
    background: none;
    cursor: default;
}

.front-search-filter-menu li:nth-child(1) a { width: 46px }
.front-search-filter-menu li:nth-child(2) a { width: 68px }
.front-search-filter-menu li:nth-child(3) a { width: 76px }

.front-search-filter-item {
    height: 395px;
    overflow: hidden;
    position: relative;
}

.front-search-item {
    padding: 15px 15px 0 15px;
}

.front-search-item.with-border {
    border-bottom: 1px solid white;
    background: url(../images/front-filter-bg.png) center bottom repeat-x;
}

.front-search-item .jq-selectbox {
    width: 220px;
    margin: 0;
    border: 1px solid white;
    display: block !important;
}

.front-search-item .jq-selectbox__dropdown {
    border: 1px solid white;
}

.front-search-item.submit {
    position: absolute;
    right: 15px;
    bottom: 15px;
    left: 15px;
}

.front-search-item.submit input {
    height: 30px;
}

.front-search-item.accordion {
    cursor: pointer;
}

.front-search-item.accordion:hover {
    background: rgba(255,255,255,0.3);
}

.front-search-item.with-border.accordion:hover {
    background: rgba(255,255,255,0.3) url(../images/front-filter-bg.png) center bottom repeat-x;
}

.front-search-item.with-border.accordion.active {
    background: url(../images/front-filter-bg.png) center bottom repeat-x;
}

.front-search-item.accordion.active {
    cursor: default;
    background: none;
}

.front-search-item-title {
    color: white;
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 15px 0;
}

.front-search-item-first,
.front-search-item-title-label {
    float: left;
}

.front-search-item-second,
.front-search-item-title-data {
    float: right;
}

.front-search-item-title-data {
    display: block;
}

.front-search-item.active .front-search-item-title-data {
    display: none;
}

.front-search-item-accordion-content {
    display: none;
}

.front-search-item.active .front-search-item-accordion-content {
    display: block;
}

.front-search-item-section input {
    width: 80px;
    border: 1px solid white;
}

.ui-slider {
    height: 3px;
    background: white;
    width: 100%;
    margin: 30px 0;
    position: relative;
}

.ui-slider-range {
    position: absolute;
    margin: -3px 0;
    height: 9px;
    background: #c51700;
}

.ui-slider-handle {
    position: absolute;
    display: block;
    height: 15px;
    width: 15px;
    margin: -7px;
    background: white;
    border: 1px solid #c51700;
    border-radius: 50%;
    cursor: pointer;
}

.ui-slider-handle:hover {
    background: #c51700;
    border: 1px solid white;
}

.ui-slider-handle:focus {
    outline: none;
}

/**********************SERVICE*PAGES***********************/

.exchange-your-car {
    margin: 40px 0 0 0;
}

.exchange-your-car .on-left {
    width: 350px;
    margin: 0 30px 0 0;
}

.exchange-your-car .on-right {
    width: 500px;
}

.service-form-item label {
    display: block;
    margin: 0 0 5px 0;
}

.service-form-item .jq-selectbox {
    margin: 0 0 10px 0;
    width: 100%;
}

.exchange-your-car input[type="submit"] {
    margin: 80px 0 0 0;
    height: 30px;
    line-height: 30px;
}

.exchange-your-car .body {
    padding: 10px 0 40px 0;
}

.accent-button {
    padding: 40px 0 0 0;
    text-align: center;
}

.services-list-item {
    padding: 40px 40px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 420px;
}

.services-list-item:nth-child(2n) {
    padding: 40px 0 0 0;
}

.services-list-item-icon {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
    float: left;
}

.services-list-item-icon a {
    display: block;
    width: inherit;
    height: inherit;
    background: #ececec;
    border-radius: 50%;
    box-shadow: 0 1px 2px #cccccc;
    text-decoration: none;
}

.services-list-item-icon a i {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    color: #bd0f1f;
    font-size: 60px;
}

.services-list-item-text {
    width: 300px;
    float: left;
}

.services-list-item-text span {
    display: table-cell;
    vertical-align: middle;
    line-height: 25px;
    height: 100px;
    overflow: hidden;
    width: 100%;
}

/**********************************************************/
/*************************FOOTER***************************/
/**********************************************************/

footer {

}

footer .section {
    padding: 20px 0 30px 0;
}

.footer-menu-container {
    margin: 0 60px 0 0;
}

.footer-menu-container:last-child {
    margin: 0;
}

.copyright {
    padding: 15px 0 25px 0;
    font-size: 12px;
}

.footer-bar {
    height: 40px;
    line-height: 40px;
    background: #dbd9da;
    font-size: 12px;
}

.footer-bar > div > div,
.copyright > div > div {
    width: 33.333333%;
    float: left;
}

.footer-address {
    text-align: left;
}

footer ul li {
    line-height: 18px;
}

footer ul li a {
    font-size: 12px;
    color: #8c8c8c;
    white-space: nowrap;
}

/***********************FOOTER*BAR*************************/

.rss-button {
    color: white;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #d8200d;
    background: #d8200d;
    border-radius: 2px;
    margin: 9px 0 9px 20px;
}

.rss-button:hover {
    color: #d8200d;
    background: white;
}

.footer-social-links {
    display: block;
    margin: 0 0 0 15px;
    height: inherit;
}

.footer-social-links li {
    display: block;
    margin: 0 0 0 8px;
    padding: 9px 0;
}

.social-icon-link {
    display: inline-block;
    height: 22px;
    width: 22px;
    text-decoration: none;
}

.social-icon-link i {
    display: block;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    border: 1px solid transparent;
    color: white;
    border-radius: 2px;
}

.social-icon-link.fb i {
    background: #3b4e89;
    border: 1px solid #3b4e89;
}
.social-icon-link.fb:hover i {
    color: #3b4e89;
}

.social-icon-link.tw i {
    background: #2fa9e0;
    border: 1px solid #2fa9e0;
    font-size: 16px;
}

.social-icon-link.tw:hover i {
    color: #2fa9e0;
}

.social-icon-link.in i {
    background: #517fa4;
    border: 1px solid #517fa4;
}

.social-icon-link.in:hover i {
    color: #517fa4;
}

.social-icon-link.gp i {
    background: #c80e11;
    border: 1px solid #c80e11;
}

.social-icon-link.gp:hover i {
    color: #c80e11;
}

.social-icon-link.vk i {
    background: #4d75a3;
    border: 1px solid #4d75a3;
}

.social-icon-link.vk:hover i {
    color: #4d75a3;
}

.social-icon-link:hover i {
    background: white;
}

.app-logo {
    display: inline-block;
    margin: 7px 0 7px 10px;
    height: 26px;
    width: 79px;
}

/***********************MOVING*BAR*************************/

.moving-bar {
    height: 65px;
    color: #8c8c8c;
    font-size: 15px;
    line-height: 65px;
    background: white;
}

.moving-bar.scroll {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
}

.moving-bar-link {
    width: 33.333333%;
    float: left;
}

.moving-bar-link i {
    color: #ef070f;
    font-size: 18px;
    padding: 0 10px 0 0;
}

.moving-bar-link input {
    border: 1px solid #fbdee0;
    height: 22px;
    line-height: 22px;
    padding: 0 5px;
    margin: 0 0 0 10px;
}

.moving-bar-link input:focus {
    outline: none;
    border: 1px solid #ef070f;
}

.moving-bar-link label {
    cursor: pointer;
}

/*************************FOOTER***************************/

.footer-search {
    margin: 0 60px;
}

#search-form {
    position: relative;
    margin: 5px 0 0 0;
}

#search-form:before {
    content: "\f002";
    font-family: FontAwesome, sans-serif;
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    color: #d9d7d8;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

#search-form input[type="text"] {
    width: 180px;
    border: 1px solid #e8e8e8;
}

#search-form input[type="submit"] {
    position: absolute;
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    top: 0;
    right: 0;
    cursor: pointer;
}