.jMenu {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none; }

.jMenu li {
  display: table-cell;
  margin: 0;
  padding: 0 10px 0 28px;
  list-style: none; }

.jMenu li a {
  display: block;
  background-color: transparent;
  color: #676767;
  cursor: pointer;
  font-size: 15px;
  line-height: 56px; }

.jMenu li .active {
  color: white; }

.jMenu li ul {
  display: none;
  position: absolute;
  width: auto !important;
  z-index: 9999;
  padding: 0;
  margin: 23px 0 0 28px;
  list-style: none; }

.jMenu li ul li {
  background-color: white;
  display: block;
  padding: 0;
  list-style: none;
  position: relative; }

.jMenu li ul li a {
  display: block;
  padding: 9px 20px;
  font-size: 15px;
  line-height: 17px; }

.jMenu li ul li a.isParent {
  padding: 9px 50px 9px 20px; }

.jMenu li ul li a.isParent:after {
  position: absolute;
  content: '>';
  right: 20px;
  top: 9px; }

.jMenu li ul li a:hover {
  background-color: #cccccc;
  color: #c73d30; }

.jMenu li ul li ul {
  display: none;
  position: absolute;
  width: auto !important;
  z-index: 9999;
  left: 40px;
  top: 0;
  padding: 0;
  margin: 0 0 0 156px;
  list-style: none; }

/*# sourceMappingURL=jmenu.css.map */