.wrapper {
  position: relative;
  width: 1366px;
  margin: 0 auto; }

.top-bar {
  width: 100%;
  height: 56px;
  background: url('../images/topBarBg.png?1426148633') left top repeat-x;
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 15px;
  color: #676767;
  -moz-box-shadow: 0px 1px 13px 1px #676f75;
  -webkit-box-shadow: 0px 1px 13px 1px #676f75;
  box-shadow: 0px 1px 13px 1px #676f75; }

.top-bar .top-bar-container {
  width: 1166px;
  height: 100%;
  margin: 0 auto; }

.top-bar .top-bar-container .logo {
  float: left;
  width: 168px;
  height: 100%;
  background: url('../images/logo.png?1426143113') left center no-repeat; }

.top-bar .top-bar-container .menu-wrapper {
  float: left;
  width: 650px; }

.top-bar .top-bar-container .promotions-block {
  float: left;
  width: 77px;
  height: 100%;
  background: url('../images/promotionsBtnBg.png?1426152503') left center no-repeat;
  cursor: pointer; }

.top-bar .top-bar-container .promotions-block .content {
  line-height: 56px;
  text-align: center;
  color: #fff; }

.top-bar .top-bar-container .info-block {
  float: left;
  width: 66px;
  height: 100%;
  padding: 14px 28px;
  font-size: 11.5px;
  line-height: 14.5px;
  color: #676767; }

.top-bar .top-bar-container .contact-block {
  position: relative;
  float: right;
  height: 100%; }

.top-bar .top-bar-container .contact-block:before {
  position: absolute;
  content: "";
  top: 17px;
  width: 17px;
  height: 20px;
  background: url('../images/phoneIco.png?1426142937') left center no-repeat; }

.top-bar .top-bar-container .contact-block .content {
  font-size: 19px;
  line-height: 58px;
  margin-left: 28px; }

.tab-bar {
  position: relative;
  width: 100%;
  height: 438px;
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 15px;
  color: #fff; }

.tab-bar .tab-bar-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  z-index: 100; }

.tab-bar .tab-bar-container {
  position: relative;
  width: 1166px;
  height: 100%;
  margin: 0 auto; }

.tab-bar .tab-bar-container .left-menu {
  position: relative;
  z-index: 100;
  width: 170px;
  height: 100%;
  float: left;
  overflow: hidden; }

.tab-bar .tab-bar-container .left-menu .menu-element {
  height: 40px;
  cursor: pointer; }

.tab-bar .tab-bar-container .left-menu .menu-bg {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.tab-bar .tab-info {
  height: 67px;
  padding: 10px 15px 15px 10px;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 346px;
  margin-right: 80px; }

.tab-bar-bg .wrap {
  margin: 0 auto;
  width: 760px; }
  .tab-bar-bg .wrap a {
    color: #fff;
    text-decoration: underline; }
  .tab-bar-bg .wrap a:hover {
    text-decoration: none; }

.tab-bar .tab-info .title {
  font-size: 26px;
  text-decoration: underline;
  cursor: pointer; }

.tab-bar .tab-info .title:hover {
  text-decoration: none; }

.tab-bar .tab-bar-container .right-menu-container {
  position: relative;
  z-index: 100;
  width: 252px;
  height: 100%;
  float: right;
  overflow: hidden; }

.tab-bar .tab-bar-container .right-menu-container .tab-un-active {
  background-color: rgba(0, 0, 0, 0.6);
  float: left;
  padding: 15px 11px;
  cursor: pointer;
  width: 43px; }

.tab-bar .tab-bar-container .right-menu-container .tab-semi-active {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
  padding: 15px 11px;
  cursor: pointer;
  width: 67px; }

.tab-bar .tab-bar-container .right-menu-container .tab-active {
  background-color: rgba(0, 0, 0, 0.4);
  float: left;
  padding: 15px 11px;
  cursor: pointer;
  width: 76px; }

.tab-bar .tab-bar-container .right-menu-container .right-menu {
  width: 252px;
  height: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.4); }

.tab-bar .tab-bar-container .right-menu-container .right-menu .menu-container {
  margin: 12px 12px 0 12px; }

.tab-bar .tab-bar-container .right-menu-container .right-menu .splitter {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d2d2d2; }

.tab-bar .tab-bar-container .right-menu-container .right-menu .info-block {
  overflow: hidden;
  *zoom: 1;
  font-size: 15px;
  font-weight: normal; }

.tab-bar .tab-bar-container .right-menu-container .right-menu .info-block .left {
  float: left;
  line-height: 45px;
  text-align: left; }

.tab-bar .tab-bar-container .right-menu-container .right-menu .info-block .right {
  float: right;
  line-height: 45px;
  text-align: right; }

.tab-bar .tab-bar-container .right-menu-container .order-btn {
  width: 165px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  background-color: #bd0f1f;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  left: 45px; }

.sub-menu {
  width: 100%;
  height: 125px;
  background-color: #f7f7f7;
  font-family: "MyriadPro Semibold";
  font-size: 18px;
  text-transform: uppercase;
  color: #555; }

.sub-menu .sub-menu-container {
  width: 1166px;
  height: 100%;
  margin: 0 auto; }

.sub-menu .sub-menu-container .techCenter {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.sub-menu .sub-menu-container .techCenter .img {
  background: url('../images/Buttons-s6def56c712.png');
  background-position: 0 0;
  width: 72px;
  height: 72px;
  margin: 27px 15px 0 20px;
  float: left; }

.sub-menu .sub-menu-container .techCenter .content {
  float: left;
  margin-top: 49px; }

.sub-menu .sub-menu-container .testDrive {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.sub-menu .sub-menu-container .testDrive .img {
  background: url('../images/Buttons-s6def56c712.png');
  background-position: 0 -144px;
  width: 72px;
  height: 72px;
  margin: 27px 15px 0 50px;
  float: left; }

.sub-menu .sub-menu-container .testDrive .content {
  float: left;
  margin-top: 49px; }

.sub-menu .sub-menu-container .sellAuto {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.sub-menu .sub-menu-container .sellAuto .img {
  background: url('../images/Buttons-s6def56c712.png');
  background-position: 0 -526px;
  width: 70px;
  height: 70px;
  margin: 27px 15px 0 55px;
  float: left; }

.sub-menu .sub-menu-container .sellAuto .content {
  float: left;
  margin-top: 49px; }

.sub-menu .sub-menu-container .calculator {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.sub-menu .sub-menu-container .calculator .img {
  background: url('../images/Buttons-s6def56c712.png');
  background-position: 0 -288px;
  width: 72px;
  height: 72px;
  margin: 27px 15px 0 80px;
  float: left; }

.sub-menu .sub-menu-container .calculator .content {
  float: left;
  margin-top: 49px; }

.second-sub-menu {
  width: 100%;
  height: 102px;
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 14px;
  color: #555; }

.second-sub-menu .sub-menu-container {
  width: 1166px;
  height: 100%;
  margin: 0 auto; }

.second-sub-menu .sub-menu-container .newAuto {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.second-sub-menu .sub-menu-container .newAuto .counter {
  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 102px;
  margin: 0 10px 0 25px; }

.second-sub-menu .sub-menu-container .newAuto .content {
  float: left;
  margin-top: 35px; }

.second-sub-menu .sub-menu-container .usedAuto {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.second-sub-menu .sub-menu-container .usedAuto .counter {
  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 102px;
  margin: 0 10px 0 60px; }

.second-sub-menu .sub-menu-container .usedAuto .content {
  float: left;
  margin-top: 35px; }

.second-sub-menu .sub-menu-container .commercialAuto {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.second-sub-menu .sub-menu-container .commercialAuto .counter {
  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 102px;
  margin: 0 10px 0 80px; }

.second-sub-menu .sub-menu-container .commercialAuto .content {
  float: left;
  margin-top: 35px; }

.second-sub-menu .sub-menu-container .percents {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.second-sub-menu .sub-menu-container .percents .img {
  background: url('../images/Buttons-s6def56c712.png');
  background-position: 0 -432px;
  width: 69px;
  height: 47px;
  margin: 24px 15px 0 28px;
  float: left; }

.second-sub-menu .sub-menu-container .percents .content {
  float: left;
  margin-top: 35px; }

.why-favorit {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
  margin: 0 auto; }

.why-favorit .title {
  width: 100%;
  height: 7px;
  border-bottom: 1px solid #555; }

.why-favorit .title .text {
  width: 288px;
  margin: 0 auto;
  font-family: "MyriadPro";
  font-weight: bold;
  font-size: 16px;
  color: #555;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff; }

.why-favorit .left-block {
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 16px;
  color: #555;
  width: 50%;
  float: left;
  padding-top: 120px; }

.why-favorit .left-block .argument {
  position: relative;
  height: 46px;
  margin: 0 0 33px 280px; }

.why-favorit .left-block .argument:before {
  position: absolute;
  content: "";
  width: 44px;
  height: 100%;
  background: url('../images/checkedIco.png?1426144173') left center no-repeat; }

.why-favorit .left-block .argument .content {
  margin-left: 62px;
  padding-top: 5px; }

.why-favorit .left-block .about-link {
  margin: 80px 0 0 335px; }

.why-favorit .left-block .about-link a {
  text-decoration: underline;
  font-size: 13px;
  color: #555; }

.why-favorit .left-block .about-link a:hover {
  text-decoration: none; }

.why-favorit .right-block {
  float: right;
  width: 50%;
  height: 580px;
  background: url('../images/mapBg.png?1426144115') 30px 32px no-repeat; }

.why-favorit .right-block .locations-block {
  position: relative;
  width: 339px;
  height: 226px;
  margin: 160px 0 0 170px; }

.why-favorit .right-block .locations-block .location {
  width: 113px;
  height: 113px;
  float: left;
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer; }

.why-favorit .right-block .locations-block .location:hover {
  background-color: rgba(192, 5, 18, 0.7); }

.why-favorit .right-block .locations-block .location .info {
  display: none;
  position: absolute;
  width: 450px;
  top: 0;
  left: -500px;
  font-size: 13px;
  color: #000;
  padding: 20px 25px;
  border: 1px solid #bd0f1f;
  background: #fff; }

.why-favorit .right-block .locations-block .location .info .title {
  margin-bottom: 27px;
  font-size: 15px;
  font-weight: bold;
  color: #bd0f1f;
  border-bottom: none; }

.why-favorit .right-block .locations-block .location .info .metro {
  position: relative; }

.why-favorit .right-block .locations-block .location .info .metro span {
  margin-left: 20px; }

.why-favorit .right-block .locations-block .location .info .metro:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 12px;
  background: url('../images/metroIco.png?1426143999') left bottom no-repeat; }

.why-favorit .right-block .locations-block .location .info .address {
  margin-bottom: 16px; }

.why-favorit .right-block .locations-block .location .info .work-graphic {
  overflow: hidden;
  *zoom: 1; }

.why-favorit .right-block .locations-block .location .info .work-graphic .title {
  color: #bd0f1f;
  font-size: 13px;
  margin-bottom: 10px; }

.why-favorit .right-block .locations-block .location .info .work-graphic .salon {
  float: left;
  width: 200px; }

.why-favorit .right-block .locations-block .location .info .work-graphic .center {
  float: left; }

.why-favorit .right-block .locations-block .ico {
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 34px;
  background: url('../images/favoritIco.png?1427100021'); }

.why-favorit .right-block .locations-block .ico2 {
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 34px;
  top: 23px;
  left: 163px;
  background: url('../images/favoritIco.png?1427100021'); }

.why-favorit .right-block .locations-block .ico3 {
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 34px;
  top: 40px;
  left: 240px;
  background: url('../images/favoritIco.png?1427100021'); }

.why-favorit .right-block .locations-block .ico6 {
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 34px;
  top: 170px;
  left: 254px;
  background: url('../images/favoritIco.png?1427100021'); }

.why-favorit .right-block .locations-block .ico5 {
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 34px;
  top: 185px;
  left: 128px;
  background: url('../images/favoritIco.png?1427100021'); }

.why-favorit .right-block .locations-block .ico4 {
  position: absolute;
  z-index: 5;
  width: 28px;
  height: 34px;
  top: 173px;
  left: 73px;
  background: url('../images/favoritIco.png?1427100021'); }

.testimonials {
  width: 100%;
  height: 337px;
  background: url('../images/reviewsBg.png?1426144892') 0 -600px no-repeat;
  background-size: cover;
  font-family: "MyriadPro";
  color: #fff; }

.testimonials .testimonials-container {
  width: 1166px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

.testimonials .testimonials-container .title {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 23px; }

.testimonials .testimonials-container .splitter {
  position: relative;
  width: 100%;
  height: 10px; }

.testimonials .testimonials-container .splitter .left {
  position: absolute;
  width: 547px;
  height: 1px;
  top: 19px;
  left: 0;
  border-bottom: 1px solid #fff; }

.testimonials .testimonials-container .splitter .right {
  position: absolute;
  width: 547px;
  height: 1px;
  top: 19px;
  right: 0;
  border-bottom: 1px solid #fff; }

.testimonials .testimonials-container .splitter .img {
  width: 38px;
  height: 38px;
  margin: 0 auto;
  border: 1px solid #fff;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  background: url('../images/pencilIco.png?1426144823') center center no-repeat; }

.testimonials .testimonials-container .bxslider {
  margin-top: 45px; }

.testimonials .testimonials-container .date {
  font-weight: normal;
  font-size: 13px;
  color: #555; }

.testimonials .testimonials-container .bxslider .title {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: left;
  margin: 0;
  padding: 0; }

.testimonials .testimonials-container .bxslider .content {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  height: 72px;
  overflow: hidden; }

.testimonials .testimonials-container .bxslider .author {
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-align: right; }

.testimonials .testimonials-container .bxslider .testimonial-btn {
  width: 146px;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #9e9e9e;
  float: right;
  cursor: pointer; }

.testimonials .testimonials-container .slick-dots {
  bottom: -20px; }

.testimonials .testimonials-container .slick-dots li button:hover:before, .testimonials .testimonials-container .slick-dots li button:focus:before {
  color: #fff; }

.testimonials .testimonials-container .slick-dots li button:before {
  font-size: 12px;
  color: #fff; }

.testimonials .testimonials-container .slick-dots li.slick-active button:before {
  color: red; }

.info-container {
  background: #f7f7f7 url('../images/block-gradient.png?1427097101') top left repeat-x;
  border-bottom: 1px solid #b9b9b9; }

.info-container .info {
  width: 1166px;
  height: 680px;
  margin: 0 auto; }

.info-container .info .about-container {
  width: 750px;
  float: left; }

.info-container .info .about-container .title {
  margin: 35px 0 25px 0;
  font-size: 24px;
  color: #000; }

.info-container .info .about-container .about {
  font-size: 16px;
  text-align: justify;
  color: #555; }

.info-container .info .news-container {
  width: 350px;
  float: right;
  font-size: 16px; }

.info-container .info .news-container .header {
  overflow: hidden;
  *zoom: 1; }

.info-container .info .news-container .header .title {
  float: left;
  margin: 35px 0 25px 0;
  font-size: 24px;
  color: #000;
  text-transform: uppercase; }

.info-container .info .news-container .header .more-link {
  display: block;
  float: right;
  margin: 45px 0 25px 0;
  font-size: 15px;
  color: #676767;
  text-decoration: underline;
  cursor: pointer; }

.info-container .info .news-container .header .more-link:hover {
  text-decoration: none; }

.info-container .info .news-container .news {
  margin-bottom: 25px; }

.info-container .info .news-container .news .date {
  line-height: 20px;
  color: #bd0f1f; }

.info-container .info .news-container .news .title {
  text-decoration: none;
  cursor: pointer;
  color: #555554; }

.info-container .info .news-container .news .title:hover {
  text-decoration: underline; }

.info-container .info .news-container .archive-link {
  display: block;
  float: right;
  margin: 45px 0 25px 0;
  font-size: 15px;
  color: #676767;
  text-decoration: underline;
  cursor: pointer; }

.info-container .info .news-container .archive-link:hover {
  text-decoration: none; }

/*# sourceMappingURL=screen.css.map */