/**
 * styles.scss
 */
@font-face {
  font-family: "MyriadPro Bold";
  src: url('../fonts/Myriad/Myriad-Bold/MyriadPro-Bold.eot?1412846850');
  src: url('../fonts/Myriad/Myriad-Bold/MyriadPro-Bold.eot?&1412846850#iefix') format('embedded-opentype'), url('../fonts/Myriad/Myriad-Bold/MyriadPro-Bold.woff?1412846860') format('woff'), url('../fonts/Myriad/Myriad-Bold/MyriadPro-Bold.ttf?1412846858') format('truetype'), url('../fonts/Myriad/Myriad-Bold/MyriadPro-Bold.otf?1329292428') format('opentype'), url('../fonts/Myriad/Myriad-Bold/MyriadPro-Bold.svg?1412846856') format('svg');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "MyriadPro";
  src: url('../fonts/Myriad/Myriad-Regular/MyriadPro-Regular.eot?1410420538');
  src: url('../fonts/Myriad/Myriad-Regular/MyriadPro-Regular.eot?&1410420538#iefix') format('embedded-opentype'), url('../fonts/Myriad/Myriad-Regular/MyriadPro-Regular.woff?1410420540') format('woff'), url('../fonts/Myriad/Myriad-Regular/MyriadPro-Regular.ttf?1410420544') format('truetype'), url('../fonts/Myriad/Myriad-Regular/MyriadPro-Regular.otf?1329292428') format('opentype'), url('../fonts/Myriad/Myriad-Regular/MyriadPro-Regular.svg?1410420544') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MyriadPro SemiBold";
  src: url('../fonts/Myriad/Myriad-SemiBold/MyriadPro-Semibold.eot?1410420702');
  src: url('../fonts/Myriad/Myriad-SemiBold/MyriadPro-Semibold.eot?&1410420702#iefix') format('embedded-opentype'), url('../fonts/Myriad/Myriad-SemiBold/MyriadPro-Semibold.woff?1410420704') format('woff'), url('../fonts/Myriad/Myriad-SemiBold/MyriadPro-Semibold.ttf?1410420706') format('truetype'), url('../fonts/Myriad/Myriad-SemiBold/MyriadPro-Semibold.otf?1329292428') format('opentype'), url('../fonts/Myriad/Myriad-SemiBold/MyriadPro-Semibold.svg?1410420708') format('svg'); }

#wrapper {
  font-size: 15px;
  font-family: "MyriadPro";
  min-width: 1366px; }

.container {
  width: 1168px;
  margin: 0 auto; }

nav {
  background-color: #2b2b2b;
  list-style: none;
  width: 100%;
  height: 56px; }
  nav:before, nav:after {
    content: " ";
    display: table; }
  nav:after {
    clear: both; }
  nav .logo {
    position: relative;
    height: 56px;
    margin-right: 10px;
    float: left;
    width: 168px;
    display: block; }
    nav .logo img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height: 100%; }
  nav .menu-wrapper {
    width: 620px;
    float: left;
    height: 56px; }
  nav .nav {
    float: left; }
    nav .nav a {
      position: relative;
      display: block;
      text-decoration: none; }
      nav .nav a:hover {
        color: #fff; }
    nav .nav.stocks > li > a {
      color: #fff;
      background-color: #c51600; }
      nav .nav.stocks > li > a:hover {
        background: #c51600 url(../images/menu-half-circle.png) 50% 100% no-repeat; }
    nav .nav.stocks .dropdown-menu {
      left: -189px !important; }
    nav .nav > li {
      float: left;
      margin: 0 10px;
      position: relative;
      display: block; }
      nav .nav > li > a {
        line-height: 56px;
        font-size: 15px;
        color: #a0a0a0;
        padding: 0 10px; }
  nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 250px;
    padding: 5px 0;
    list-style: none;
    text-align: left;
    background-color: #fff; }
  nav .dropdown li:hover {
    background: #ccc; }
  nav .dropdown a:hover {
    color: #fff; }
  nav .dropdown:hover > a {
    background: url(../images/menu-half-circle.png) 50% 100% no-repeat;
    color: #fff; }
  nav .dropdown .dropdown-menu {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    nav .dropdown .dropdown-menu > li > a {
      padding: 1px 30px 0px 20px; }
    nav .dropdown .dropdown-menu a {
      color: #626262;
      line-height: 30px;
      background: none; }
      nav .dropdown .dropdown-menu a:hover {
        color: #c61700; }
  nav .dropdown:hover > .dropdown-menu {
    display: block; }
  nav .dropdown .dropdown-submenu {
    position: relative;
    padding-right: 25px; }
    nav .dropdown .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -5px; }
    nav .dropdown .dropdown-submenu:hover > .dropdown-menu {
      display: block; }
    nav .dropdown .dropdown-submenu > a {
      background: url(../images/menu-arrow-right.png) 100% 50% no-repeat; }
    nav .dropdown .dropdown-submenu > a:hover {
      background: url(../images/menu-arrow-right.png) 100% 50% no-repeat; }
    nav .dropdown .dropdown-submenu > a:hover {
      color: #c61700; }
    nav .dropdown .dropdown-submenu.pull-left {
      float: none; }
    nav .dropdown .dropdown-submenu.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px; }
  nav .contacts > div {
    float: left;
    height: 56px; }
  nav .contacts p {
    margin-bottom: 0; }
  nav .contacts .info {
    margin: 0 30px;
    float: right; }
    nav .contacts .info .wrap {
      display: table;
      width: 100%;
      text-align: center;
      height: 56px; }
      nav .contacts .info .wrap .text {
        color: #b0b0b0;
        font-size: 12px;
        display: table-cell;
        vertical-align: middle; }
  nav .contacts .phone {
    float: right;
    height: 56px; }
    nav .contacts .phone .wrap {
      line-height: 56px;
      display: block;
      background: url(../images/nav-phone.png) 0 50% no-repeat; }
      nav .contacts .phone .wrap .text {
        padding-left: 38px;
        font-size: 19px;
        color: #fff; }
    nav .contacts .phone a {
      color: #fff;
      text-decoration: none; }

.block-icons {
  width: 100%;
  height: 125px;
  background-color: #f7f7f7;
  font-family: "MyriadPro Semibold";
  font-size: 18px;
  text-transform: uppercase;
  color: #555; }
  .block-icons li {
    width: 25%;
    height: 100%;
    float: left;
    cursor: pointer;
    text-align: left; }
    .block-icons li:hover.tech .round-button {
      background-position: 0px -72px; }
    .block-icons li:hover.test .round-button {
      background-position: 0px -216px; }
    .block-icons li:hover.sale .round-button {
      background-position: 0px -596px; }
    .block-icons li:hover.calc .round-button {
      background-position: 0px -360px; }
    .block-icons li:hover .round-button {
      box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 2px 0 rgba(0, 0, 0, 0.1); }
    .block-icons li a {
      text-decoration: none; }
      .block-icons li a .title {
        color: #b0b0b0;
        font-size: 12px;
        margin-top: 50px;
        display: block;
        color: #555554;
        font-size: 18px;
        text-transform: uppercase; }
      .block-icons li a:hover .title {
        color: #bd0f1f; }
    .block-icons li.tech .round-button {
      background-position: 0px 0px; }
    .block-icons li.test .round-button {
      background-position: 0px -144px; }
    .block-icons li.sale .round-button {
      background-position: 0px -526px; }
    .block-icons li.calc .round-button {
      background-position: 0px -288px; }

.round-button {
  margin: 30px 20px 0 20px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 2px 0 rgba(255, 255, 255, 0.6), 0 2px 0 rgba(0, 0, 0, 0.1), inset 0 0px 1px rgba(0, 0, 0, 0.1);
  float: left;
  background: url(../images/Buttons-s6def56c712.png) center center no-repeat; }

.second-sub-menu {
  width: 100%;
  height: 102px;
  font-family: "MyriadPro";
  font-weight: normal;
  font-size: 14px;
  color: #555; }

.second-sub-menu .sub-menu-container {
  width: 1166px;
  height: 100%;
  margin: 0 auto; }

.second-sub-menu .sub-menu-container .auto {
  width: 25%;
  height: 100%;
  float: left;
  cursor: pointer; }

.second-sub-menu .sub-menu-container .auto .counter {
  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 102px;
  margin: 0 21px 0 25px;
  display: block;
  width: 65px; }

.second-sub-menu .sub-menu-container .auto .content {
  float: left;
  display: block;
  margin-top: 35px; }

.second-sub-menu .sub-menu-container .auto:hover, .second-sub-menu .sub-menu-container .percents:hover {
  color: #bd0f1f; }

.second-sub-menu .sub-menu-container .percents:hover .img {
  background-position: 0px -479px; }

#popup-location {
  position: absolute;
  z-index: 1001 !important; }
  #popup-location .info {
    width: 377px;
    font-size: 13px;
    color: #000;
    padding: 25px 88px 25px 35px;
    border: 1px solid #bd0f1f;
    background: #fff;
    position: relative; }
  #popup-location .metro:before {
    content: '';
    display: block;
    background: url(../images/metroIco.png) 0 2px no-repeat;
    width: 13px;
    height: 10px;
    float: left;
    margin-right: 3px; }
  #popup-location .title {
    margin-bottom: 27px;
    font-size: 15px;
    font-weight: bold;
    color: #bd0f1f;
    border-bottom: none;
    width: 100%;
    height: 7px; }
  #popup-location .address {
    margin-bottom: 16px; }
  #popup-location .work-graphic {
    overflow: hidden; }
    #popup-location .work-graphic .title {
      color: #bd0f1f;
      font-size: 13px;
      margin-bottom: 10px; }
    #popup-location .work-graphic .salon {
      float: left;
      width: 200px; }
    #popup-location .work-graphic .center {
      float: left; }
  #popup-location .close {
    background: url(../images/close.png) 0 0 no-repeat;
    color: #bd0f1f;
    position: absolute;
    margin: 10px;
    top: 16px;
    right: 10px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    z-index: 1001; }
  #popup-location a.more {
    position: absolute;
    right: 34px;
    bottom: 27px;
    font-size: 12px;
    display: block;
    color: #6e6f6e;
    text-decoration: underline; }
  #popup-location a.more:hover {
    text-decoration: none; }

.hidden {
  display: none; }

.clear {
  display: block;
  clear: both; }

.popular-links {
  width: 960px;
  height: 186px;
  margin: 0 auto; }

.popular-links .links-container {
  float: left;
  width: 255px;
  margin: 35px 0;
  padding-right: 95px;
  font-size: 14px;
  line-height: 28px; }

.popular-links .links-container:last-child {
  padding-right: 0; }

.popular-links .links-container .title {
  font-weight: bold;
  color: #bd0f1f; }

.popular-links .links-container .link {
  display: block;
  text-decoration: none;
  position: relative;
  color: #676767;
  background: url(../images/menu-arrow-right.png) 100% 50% no-repeat; }

.popular-links .links-container .link:hover {
  text-decoration: underline; }

.footer-menu-container {
  width: 100%;
  height: 67px;
  line-height: 67px;
  position: fixed;
  z-index: 10;
  left: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #bababa; }

.footer-menu-container .footer-menu .cabinet {
  position: relative;
  float: left;
  margin-right: 120px; }

.footer-menu-container .footer-menu .cabinet a {
  display: block;
  margin-left: 38px;
  font-size: 15px;
  text-decoration: underline;
  color: #676767; }

.footer-menu-container .footer-menu .cabinet a:hover {
  text-decoration: none; }

.footer-menu-container .footer-menu .cabinet:before {
  position: absolute;
  width: 28px;
  height: 67px;
  left: 0;
  top: 0;
  content: "";
  background: url('../images/keyImg.png') left center no-repeat; }

.footer-menu-container .footer-menu .call {
  position: relative;
  float: left;
  margin-right: 120px; }

.footer-menu-container .footer-menu .call a {
  display: block;
  margin-left: 31px;
  font-size: 15px;
  text-decoration: underline;
  color: #676767; }

.footer-menu-container .footer-menu .call a:hover {
  text-decoration: none; }

.footer-menu-container .footer-menu .call:before {
  position: absolute;
  width: 21px;
  height: 67px;
  left: 0;
  top: 0;
  content: "";
  background: url('../images/phoneImg.png') left center no-repeat; }

.footer-menu-container .footer-menu .search {
  position: relative;
  float: left; }

.footer-menu-container .footer-menu .search form {
  float: left;
  margin: 21px 0; }

.footer-menu-container .footer-menu .search input[type="text"]:focus {
  outline: none !important;
  float: left; }

.footer-menu-container .footer-menu .search span {
  display: block;
  margin-left: 29px;
  font-size: 15px;
  text-decoration: none;
  color: #676767;
  float: left;
  margin-right: 10px; }

.footer-menu-container .footer-menu .search:before {
  position: absolute;
  width: 19px;
  height: 67px;
  left: 0;
  top: 0;
  content: "";
  background: url('../images/searchImg.png') left center no-repeat; }

.footer-menu-container .footer-menu .consultant {
  position: relative;
  float: right; }

.footer-menu-container .footer-menu .consultant a {
  display: block;
  font-size: 15px;
  text-decoration: underline;
  color: #676767;
  float: left;
  padding-left: 5px; }

.footer-menu-container .footer-menu .consultant a.red {
  color: #d20619;
  margin-left: 38px;
  padding-left: 0; }

.footer-menu-container .footer-menu .consultant:hover a {
  text-decoration: none; }

.footer-menu-container .footer-menu .consultant:before {
  position: absolute;
  width: 29px;
  height: 67px;
  left: 0;
  top: 0;
  content: "";
  background: url('../images/askQuestion.png') left center no-repeat; }

footer {
  margin-top: 67px; }
  footer .top {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #f4f4f4 url(../images/footer-top-shadow.png) 0 0 repeat-x; }
    footer .top .footer-nav {
      float: left;
      margin-right: 50px; }
      footer .top .footer-nav.addresses {
        margin-left: 448px;
        margin-right: 0;
        width: 293px;
        display: block; }
      footer .top .footer-nav h3 {
        font-size: 15px;
        color: #000;
        text-transform: uppercase;
        padding-bottom: 25px; }
      footer .top .footer-nav ul {
        list-style: none; }
        footer .top .footer-nav ul li a {
          color: #8c8c8c;
          font-size: 12px;
          text-decoration: none; }
          footer .top .footer-nav ul li a:hover {
            text-decoration: underline; }
  footer .middle {
    background: #dbd9da;
    padding: 7px 0; }
    footer .middle .middle-center {
      width: 100%;
      float: left;
      overflow: hidden;
      text-align: center; }
      footer .middle .middle-center .padding-center {
        padding: 0 415px; }
    footer .middle .middle-left {
      float: left;
      width: 360px;
      margin-left: -100%; }
      footer .middle .middle-left ul {
        padding-top: 3px; }
    footer .middle .middle-right {
      float: left;
      width: 185px;
      margin-left: -185px;
      text-align: right; }
      footer .middle .middle-right ul {
        padding-top: 3px; }
    footer .middle .title {
      color: #626262;
      font-size: 12px;
      float: left;
      line-height: 27px;
      display: block;
      margin-right: 20px; }
    footer .middle ul {
      list-style: none;
      float: left; }
      footer .middle ul li {
        float: left;
        width: 21px;
        height: 21px;
        margin-left: 10px; }
        footer .middle ul li span {
          margin-right: 20px; }
        footer .middle ul li.fb {
          background: url(../images/footer-fb.jpg) 0 0 no-repeat; }
        footer .middle ul li.tw {
          background: url(../images/footer-tw.jpg) 0 0 no-repeat; }
        footer .middle ul li.in {
          background: url(../images/footer-in.jpg) 0 0 no-repeat; }
        footer .middle ul li.go {
          background: url(../images/footer-go.jpg) 0 0 no-repeat; }
        footer .middle ul li.vk {
          background: url(../images/footer-vk.jpg) 0 0 no-repeat; }
        footer .middle ul li.rss {
          background: url(../images/footer-rss.jpg) 0 0 no-repeat;
          margin-right: 0; }
        footer .middle ul li.app {
          background: url(../images/footer-app.png) 0 0 no-repeat;
          width: 83px;
          height: 27px; }
        footer .middle ul li.play {
          background: url(../images/footer-play.png) 0 0 no-repeat;
          width: 83px;
          height: 27px; }
  footer .bottom {
    margin: 15px 0; }
    footer .bottom span {
      color: #8b8b8a;
      font-size: 12px;
      float: left; }
    footer .bottom .bottom-center {
      width: 100%;
      float: left;
      overflow: hidden;
      text-align: center; }
      footer .bottom .bottom-center .padding-center {
        padding: 0 510px; }
    footer .bottom .bottom-left {
      float: left;
      width: 200px;
      margin-left: -100%; }
      footer .bottom .bottom-left a {
        text-decoration: none; }
        footer .bottom .bottom-left a:hover {
          text-decoration: underline; }
    footer .bottom .bottom-right {
      float: left;
      width: 200px;
      margin-left: -200px;
      text-align: right; }
    footer .bottom a {
      color: #8b8b8a;
      font-size: 12px; }
      footer .bottom a:hover {
        text-decoration: none; }

#blackout {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 1000;
  left: 0;
  display: none; }

.left-menu .menu-element::first-child:before, .left-menu .menu-element::last-child:after {
  background: rgba(0, 0, 0, 0.4);
  height: 15px; }

.ui-selectmenu-button, .big-fiter-price__input input {
  color: #313131; }

.why-favorit ul li {
  height: 46px;
  margin: 0 0 33px 200px;
  padding-top: 9px;
  background: url('../images/checkedIco.png?1426144173') left center no-repeat;
  padding-left: 64px; }

.info-container .info ul {
  list-style: disc;
  text-indent: 10px;
  margin-left: 30px;
  font-size: 16px;
  color: #555; }
  .info-container .info ul li {
    line-height: 1.2; }

.tab-bar .left-menu:before, .tab-bar .left-menu:after {
  height: 19px;
  background: rgba(0, 0, 0, 0.4);
  content: '';
  display: block; }

.tabs.active {
  background: rgba(0, 0, 0, 0.4) !important;
  text-decoration: underline; }

.tab-un-active {
  background: rgba(0, 0, 0, 0.7) !important; }

.tab-semi-active {
  background: rgba(0, 0, 0, 0.6) !important; }

.tab-active {
  background: rgba(0, 0, 0, 0.5) !important; }

.big-fiter-price__inputs input:focus {
  outline: none; }

.menu-container.active .big-filter__label {
  font-weight: bold;
  font-size: 16px; }

/*# sourceMappingURL=styles.css.map */