html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}


.clearfix, .cf{
    zoom: 1; }
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
.clearfix:after, .cf:after {
    clear: both; }

/*****************
    JQUERY UI
    ***************/
.ui-selectmenu-button {
    display: block;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 3px 9px 0;
    line-height: 31px;
    background-color: #fff;
    outline: none;
    cursor: pointer;

}

.ui-selectmenu-button .ui-icon-triangle-1-s {
    display: block;
    width: 9px;
    height: 5px;
    position: absolute;
    top: 14px;
    right: 9px;
    background-image: url('../images/arr-down--grey.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.ui-selectmenu-menu .ui-menu {
    overflow: auto;
    /* Support: IE7; */
    overflow-x: hidden;
    padding-bottom: 1px;
}
.ui-selectmenu-open {
    display: block;
}
.ui-menu {
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #fbdee0;
}
.ui-menu-item {
    padding: 10px 10px 5px;
    cursor: pointer;
}
.ui-menu-item.ui-state-focus {
    background-color: #F7F7F7;
}

.ui-slider {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.ui-slider-range {
    height: 10px;
    position: absolute;
    top: -3px;
    background-color: #c51700;
}

.ui-slider-handle {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -8px;
    top: -6px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #c51700;
    border-radius: 50%;
    outline: none;
}


/* /JQUERY UI */

/****************************
    Main styles
******************************/
body, {
    font-family: "MyriadPro", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: #555554;
}

h1 {
    margin: 0 0 28px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    color:#000;
}

h2 {
    margin: 0 0 28px;
    font-size: 24px;
    font-weight: normal;
}

p {
    margin: 0 0 25px;
    font-size: 16px;
    text-align: justify;
    color: #555554;
    line-height: 1.2;
}

a {
    color: #2c2c2c;
}

input[type=checkbox] {
    visibility: hidden;
}

section, footer {
    width: 100%;
    min-width: 1168px;
}

footer {
    border-top: 1px solid #bababa;
    //background: url("../images/footer-bg.png") left top repeat-x;
}

.wrapper {
    width: 1368px;
    margin: 0 auto;
    position: relative;
}

/****************************
    Добавлять смело можно отсюда
******************************/

.section--grey {
    background-color: #f7f7f7;
}

.section--shadow {
    box-shadow: inset 0 10px 20px #efefef;
}

.column--wide-left {
    width: 884px;
    float: left;
}

.column--small-right {
    width: 253px;
    float: right;
}

.red-text {
    color: #c61700;
}

.valigner {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.padding_forty {
    padding: 0 20px;
}

.underlined {
    text-decoration: underline;
}

.select--styled-ui {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 3px 9px 0;
    border: none;
    outline: none;
}

.styledCheckbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #fff;
    margin: 0 10px 0 0;
    position: relative;
    border: 1px solid #F4D1CC;
}

.styledCheckbox input {
    visibility: hidden;
    width: 9px;
    height: 9px;
}

.styledCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
    background: transparent;
}

.styledCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 4px;
    background: rgba(0, 0, 0, 0);
    top: 2px;
    left: 2px;
    border: 3px solid #6e6f6e;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.styledCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.styledCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/****************************
    Секция с текстом
******************************/
.section--catalog-top {
    padding-top: 40px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.cat_main_nav {
    margin-top: 32px;
}

.cat_nav {}
.cat_nav__link {
    display: inline-block;
    width: 287px;
    height: 34px;
    margin-right: 11px;
    padding-top: 5px;
    vertical-align: baseline;
    background-color: #fff;
    color: #898989;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
}
.cat_nav__link--active {
    background-color: #c61700;
    color: #fff;
}
.cat_nav__link--last {
    margin-right: 0;
}

.watched-late {
    padding-top: 5px;
    text-align: right;
    font-size: 18px;
    line-height: 34px;
}

/****************************
   Секция фильтра по центру
******************************/
.section--catalog-filter {
    padding: 40px 0 30px;
    position: relative;
}

.filter-indicator {
    margin-bottom: 27px;
}
.filter-indicator__items {
    display: inline-block;
    margin-left: 16px;
}
.filter-indicator__item {
    display: inline-block;
    margin-right: 16px;
}
.filter-indicator__red-cross {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 8px;
    background-image: url('../images/red-cross.png');
    vertical-align: baseline;
}

.num-by-page {
    float: right;
    width: 402px;
    line-height: 34px;
    text-align: right;
}
.num-by-page__nums {
    display: inline-block;
    text-align: right;
}
.num-by-page__num {
    padding-left: 13px;
    color: #313131;
}
.num-by-page__num--active {
    color: #c61700;
}

.sort-by {}
.sort-by__selecter {
    display: inline-block;
    width: 210px;
    margin-left: 30px;
}
.sort-by__selecter .ui-selectmenu-button {
    display: inline-block;
    padding: 0 9px 0;
    vertical-align: middle;
    border: 1px solid #f4d1cc;
}
.sort-by__selecter .ui-selectmenu-button .ui-icon-triangle-1-s {
    display: block;
    width: 9px;
    height: 5px;
    position: absolute;
    top: 12px;
    right: 9px;
    background-image: url('../images/arr-down--grey.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.sort-by__select {
    border: 1px solid #f4d1cc;
}

/****************************
    Секция со списком б/у
******************************/
.section--catalog-list {
    padding: 20px 0 110px;
    position: relative;
}

.catalog-items__item {
    padding: 9px 0;
    margin-bottom: 19px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.catalog-item__img {
    float: left;
    position: relative;
    width: 220px;
    height: 122px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #d5d5d5;
}
.catalog-item__img img {
    display: inline-block;
    vertical-align: middle;
}
.catalog-item__amark {
    width: 24px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 10px;
    background-image: url('../images/a.jpg');
}

.catalog-item__text {
    position: relative;
}

.catalog-item__text p {
    margin-bottom: 12px;
}

.catalog-item__text--bu {
    float: left;
    width: 642px;
}

.catalog-item__title,
.catalog-item__subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.catalog-item__title {
    margin: 10px 0 0;
}
.catalog-item__subtitle--bu {
    margin-bottom: 25px;
}

.catalog-item__description {
    width: 340px;
    font-size: 14px;
    color: #303030;
}

.catalog-item__price {
    position: absolute;
    top: 31px;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.catalog-item__old-price {
    color: #787878;
    font-weight: normal;
    font-size: 14px;
    text-decoration: line-through;
}

.catalog-item__more-link {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 107px;
    padding: 9px 0 7px;
    background-color: #ececed;
    text-align: center;
    text-decoration: none;
}

.catalog-item__left-descr,
.catalog-item__right-descr {
    width: 48%;
    display: inline-block;
}

.paginator {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.paginator__link {
    display: inline-block;
    margin: 0 13px;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
}

.paginator__link--current {
    font-weight: bold;
    color: #c61700;
}

.paginator__arr {
    width: 13px;
    height: 22px;
    margin: 0 25px;
    display: inline-block;
    vertical-align: middle;
}
.paginator__arr--left {
    background-image: url('../images/arr-left.png');
}
.paginator__arr--right {
    background-image: url('../images/arr-right.png');
}

.show-all-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

/****************************
    Сайдбар
******************************/
.sidebar {
    background-color: #fff;
    position: absolute;
    width: 253px;
}

.sidebar--bu {
    top: -227px;
}

.sidebar--new {
    top: -685px;
}

.widget {
    border-bottom: 1px solid #ffffff;
}
.widget.widget--active {
    border-bottom: none;
}
.widget--active .widget__content {
    display: block;
    border-bottom: 1px solid #ffffff;
}
.widget__title {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 51px;
    padding: 3px 30px 0 19px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 51px;
}
.widget__content {
    display: none;
    padding: 20px;
    background-color: #fff;
}

.widget__content--grey {
    background-color: #f2f2f2;
}

.widget__title--clickable {
    background-image: url('../images/arr-down.png');
    background-position: right 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.category-list {
    padding: 7px 0 0;
    margin: 0;
}
.category-list li {
    padding-left: 18px;
    margin-bottom: 25px;
    background: url("../images/li-arr-pink.png") left center no-repeat;
    list-style: none;
    font-size: 16px;
    line-height: 1.2;
}

.big-filter {}

.big-filter__label--widget {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.big-filter__checkbox--widget {
    width: 14px;
    height: 14px;
    border: 1px solid #F4D1CC;
}

.big-filter__checkboxes li {
    margin-bottom: 15px;
}

.big-filter-controls {
    text-align: center;
}

.big-filter-controls__show-result {
    display: inline-block;
    width: 168px;
    height: 31px;
    margin-bottom: 20px;
    line-height: 31px;
    background-color: #c51700;
    color: #fff;
    cursor: pointer;
}

.big-filter-controls__link {
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.big-filter__price {
    position: absolute;
    top: 0;
    right: 0;
}

.big-fiter-price__inputs {
    margin-bottom: 25px;
}

.big-fiter-price__input {
    width: 104px;
}

.big-fiter-price__input input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 0 10px;
    background-color: #fff;
    border: none;
}

.big-fiter-price__input--right {
    float: right;
}

/****************************
    Секция с внизу текстом
******************************/
.section--catalog-text {
    min-height: 475px;
    padding-top: 40px;
    position: relative;
}

/****************************
    Секция со списком логотипов
******************************/
.section--catalog-logos {
    padding: 10px 0 30px;
    position: relative;
}

.logos {
    text-align: center;
}

.logo-item {
    display: inline-block;
    width: 160px;
    height: 150px;
}

.logo-item__img {
    display: inline-block;
    vertical-align: middle;
}

.logo-item__type {
    display: inline-block;
    vertical-align: middle;
    min-width: 71px;
    padding-top: 80px;
    font-size: 16px;
    background-position: center top;
    background-repeat: no-repeat;
}

.logo-item__type:hover {
    cursor: pointer;
    color: #c61700;
}

.logo-item__type--sedan {
    background-image: url('../images/types/sedan.png');
}

.logo-item__type--hatchback {
    background-image: url('../images/types/hatchback.png');
}

.logo-item__type--universal {
    background-image: url('../images/types/universal.png');
}

.logo-item__type--crossover {
    background-image: url('../images/types/crossover.png');
}

.logo-item__type--vnedoroz {
    background-image: url('../images/types/vnedoroz.png');
}

.logo-item__type--kupe {
    background-image: url('../images/types/kupe.png');
}

.logo-item__type--cabriolet {
    background-image: url('../images/types/cabriolet.png');
}

.logo-item__type--pickup {
    background-image: url('../images/types/pickup.png');
}

.logo-item__type--minivan {
    background-image: url('../images/types/minivan.png');
}

.logo-item__type--commerce {
    background-image: url('../images/types/commerce.png');
}

.logo-item__type--sedan:hover {
    background-image: url('../images/types/sedan_active.png');
}

.logo-item__type--hatchback:hover {
    background-image: url('../images/types/hatchback_active.png');
}

.logo-item__type--universal:hover {
    background-image: url('../images/types/universal_active.png');
}

.logo-item__type--crossover:hover {
    background-image: url('../images/types/crossover_active.png');
}

.logo-item__type--vnedoroz:hover {
    background-image: url('../images/types/vnedoroz_active.png');
}

.logo-item__type--kupe:hover {
    background-image: url('../images/types/kupe_active.png');
}

.logo-item__type--cabriolet:hover {
    background-image: url('../images/types/cabriolet_active.png');
}

.logo-item__type--pickup:hover {
    background-image: url('../images/types/pickup_active.png');
}

.logo-item__type--minivan:hover {
    background-image: url('../images/types/minivan_active.png');
}

.logo-item__type--commerce:hover {
    background-image: url('../images/types/commerce_active.png');
}

/****************************
    Секция с выдержками из категорий
******************************/
.section--catalog-cats-previews {
    padding: 45px 0 50px;
}

.catalog_excerpt {
    margin-bottom: 30px;
}

.catalog_excerpt__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.catalog-items--excerpt {
    padding-top: 10px;
    border-top: 1px solid #D5D5D5;
}

.catalog-items__item--excerpt {
    width: 215px;
    float: left;
    border: none;
}

.catalog-items__item--excerpt:nth-child(2) {
    margin: 0 119px;
}

.catalog-item--excerpt {
    position: relative;
}

.catalog-item__img--excerpt {
    width: 100%;
    height: 85px;
    float: none;
    border: none;
}

.catalog-item__img--excerpt img {
    max-width: 100%;
}

.catalog-item__title--excerpt {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: normal;
}

.catalog-item__description--excerpt {
    margin-bottom: 20px;
    color: #787878;
}

.catalog-item__description--excerpt p {
    margin-bottom: 0;
}

.catalog-item__price--excerpt {
    position: relative;
    top: auto;
    right: auto;
    text-align: left;
}

.catalog-item__more-link--excerpt {
    bottom: 1px;
}

.catalog_excerpt__look-all {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #787878;
}