
body { background:url(../../img/pic1.jpg) no-repeat center top fixed;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; }

h2 { color:#fff }

#main { background:url(../../img/patterns/pattern_circles.png) repeat }
.window-form form p.none-mg { margin:0 -45px -45px; padding:45px; background:#132552 }


#wrapper .content { background:url(../../img/bg.png) repeat; margin-bottom:30px }
#wrapper .content .shadow { display:none }
#wrapper .content .left .text { color:#dedede }
#wrapper .content .right { border:0; background:url(../../img/right-bg.png) repeat-y left }

#wrapper .timer { background:url(../../img/bg.png) repeat; color:#fff }

#wrapper .feedback a { color:#fff }
#wrapper .feedback a i { background:url(../../img/soon-sprite.png) no-repeat -26px -17px }
#wrapper .feedback a:hover { color:#999 }


/* Footer
-------------------------------------------------- */
#footer a span { border-bottom:1px solid #404040 }
#footer a:hover span { color:#228be4; border-color:#1a4468 }


/* Social Buttons */
.social-buttons ul li.fb a { background-position: 0 -50px }
.social-buttons ul li.fb a:hover { background-position: 0 0 }
.social-buttons ul li.tw a { background-position: -43px -50px }
.social-buttons ul li.tw a:hover { background-position: -43px 0 }
.social-buttons ul li.vk a { background-position: -85px -50px }
.social-buttons ul li.vk a:hover { background-position: -85px 0 }
.social-buttons ul li.gp a { background-position: -127px -50px }
.social-buttons ul li.gp a:hover { background-position: -127px 0 }
.social-buttons ul li.odn a { background-position: -167px -50px }
.social-buttons ul li.odn a:hover { background-position: -167px 0 }
.social-buttons ul li.in a { background-position: -209px -50px }
.social-buttons ul li.in a:hover { background-position: -209px 0 }
.social-buttons ul li.lj a { background-position: -251px -50px }
.social-buttons ul li.lj a:hover { background-position: -251px 0 }
.social-buttons ul li.ml a { background-position: -293px -50px }
.social-buttons ul li.ml a:hover { background-position: -293px 0 }
.social-buttons ul li.yt a { background-position: -335px -50px }
.social-buttons ul li.yt a:hover { background-position: -335px 0 }
.social-buttons ul li.pt a { background-position: -377px -50px }
.social-buttons ul li.pt a:hover { background-position: -377px 0 }
.social-buttons ul li.su a { background-position: -419px -50px }
.social-buttons ul li.su a:hover { background-position: -419px 0 }
.social-buttons ul li.ya a { background-position: -461px -50px }
.social-buttons ul li.ya a:hover { background-position: -461px 0 }
.social-buttons ul li.hb a { background-position: -503px -50px }
.social-buttons ul li.hb a:hover { background-position: -503px 0 }
.social-buttons ul li.vm a { background-position: -545px -50px }
.social-buttons ul li.vm a:hover { background-position: -545px 0 }
.social-buttons ul li.tb a { background-position: -587px -50px }
.social-buttons ul li.tb a:hover { background-position: -587px 0 }