/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}
#cboxWrapper {max-width:none; box-shadow: 0 0 15px black;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background: rgba(0,0,0,0.75);}
#colorbox{outline:0;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:-38px; left:0; right: 0; color: white; line-height: 26px; text-align: center; font-size: 18px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{background: rgba(0,0,0,0.5); position:absolute; top: 50%; left: 30px; width:42px; height:42px; margin: -22px 0 0 0; border-radius: 50%; }
        #cboxPrevious:before{color: white; position:absolute; top: 0; left: 0; display: block; font-size: 34px; content: "\f104"; width: 33px; height: 40px; line-height: 40px; text-align: center; margin: 0 0 0 2px; font-family: FontAwesome, sans-serif;}
        #cboxPrevious:hover{color: #cccccc;}
        #cboxPrevious:hover:before {color: #cccccc;}
        #cboxNext{ display: none !important; background: rgba(0,0,0,0.5); position:absolute; top: 50%; right: 30px; width:42px; height:42px; margin: -22px 0 0 0; border-radius: 50%;}
        #cboxNext:before{color: white; position:absolute; top: 0; left: 0; display: block; font-size: 34px; content: "\f105"; width: 33px; height: 40px; line-height: 40px; text-align: center; margin: 0 0 0 5px; font-family: FontAwesome, sans-serif;}
        #cboxNext:hover{color: #cccccc;}
        #cboxNext:hover:before {color: #cccccc;}
        #cboxClose{background: rgba(0,0,0,0.5); color: white; position:absolute; bottom: 0; right: 0;  height:30px; padding: 0 40px 0 20px; line-height: 30px }
        #cboxClose:after {color: white; position:absolute; top: 0; right: 0; display: block; font-size: 22px; content: "\f00d"; width: 40px; height: 30px; line-height: 28px; text-align: center; font-family: FontAwesome, sans-serif;}
        #cboxPrevious:focus, #cboxNext:focus, #cboxClose:focus {outline: none}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}