/* Some Fix for Full Version */
@media only screen and (max-width: 1200px) {

    .slicknav_menu {
        display: none;
    }

}

/* Screens Wider Than Mobile (tablets and desktops) */

@media only screen and (min-width: 768px) {
    .display-mobile {
        display: none !important;
    }
}

/* Mobile Landscape Size to Tablet (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 1199px) {



}

/* Mobile Portrait Size to Mobile (devices and browsers) */
@media only screen and (max-width: 767px) {

    .display-desktop {
        display: none !important;
    }

    #main-container {
        min-width: 320px;
    }

    .box-container {
        width: 280px;
        padding: 0 20px;
    }

    .info-block, .site-phone, .work-time {
        display: none;
    }

    .login-button {
        margin: 0;
        position: absolute;
        top: 4px;
        right: 15px;
    }

    .login-button a {
        height: 20px;
        line-height: 20px;
        padding: 0 5px;
    }

    .login-button a span {
        display: none;
    }

    .login-button a i {
        margin: 0;
    }

    #logo {
        margin: 0 auto;
        float: none;
    }

    #navigation {
        float: none;
    }

    .navigation {
        display: none;
    }

    .slicknav_menu {
        display: block;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .slicknav_menu > a {
        position: absolute;
        top: 6px;
        left: 10px;
        padding: 10px;
    }

    .slicknav_icon {
        width: 20px;
        display: block;
    }

    .slicknav_icon-bar {
        display: block;
        width: 100%;
        height: 3px;
        background: #474747;
        margin: 0 0 6px 0;
    }

    .slicknav_icon-bar:last-child {
        margin: 0;
    }

    .slicknav_nav .navigation {
        display: block;
        padding: 56px 0 0 0;
    }

    .slicknav_nav .navigation li {
        float: none;
        margin: 0;
        min-height: 40px;
    }

    .slicknav_nav .navigation li a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        background: white;
        width: 100%;
        color: black;
        text-decoration: none;
        text-align: center;
        padding: 0 !important;
        border-bottom: 1px solid #cccccc;
    }

    a.slicknav_item {
        padding: 0;
        position: relative;
    }

    a.slicknav_item > span {
        position: absolute;
        left: 20px;
        top: 0;
    }

    .slicknav_nav .navigation > li > ul > li > ul,
    .slicknav_nav .navigation > li > ul {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        padding: 0;
        background: none;
    }

    .slicknav_nav .navigation li:after,
    .slicknav_nav .navigation > li > ul > li.dropdown:after {
        display: none !important;
    }

    .front-about.section {
        padding-bottom: 0;
    }

    .front-about .on-left {
        width: 100%;
        float: none;
        margin: 0;
    }

    .front-about h2 {
        font-size: 17px;
        font-weight: 600;
        line-height: normal;
    }

    .front-about .on-right {
        width: auto;
        float: none;
        margin: 0 -20px;
        padding: 20px 20px 0;
        background-image: url(../images/section-sep.png);
        background-position: top center;
        background-repeat: repeat-x;
    }

    .front-news-items {
        margin-bottom: 20px;
    }

    .front-news-item-date {
        font-size: 12px;
        color: #313131;
    }

    .front-news-item-title a {
        text-decoration: underline;
    }

    .front-news-archive {
        padding-top: 0;
        background-color: #313131;
        margin: 0 -20px;
        height: 30px;
        line-height: 30px;
    }

    .front-news-archive a {
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        text-align: center;
        background-color: #c61700;
        width: 35%;
    }

    #footer .section {
        padding: 0;
    }

    #footer > .section .on-left,
    #footer > .section .on-right {
        float: none;
    }

    .moving-bar-link i {
        font-size: 30px;
    }

    .footer-address,
    .footer-search,
    .footer-menu-container {
        margin-left: -20px !important;
        margin-right: -20px !important;
        padding: 20px;
        border-bottom: 1px solid #b9b9b9;
    }

    .footer-search {
        text-align: left;
    }

    #search-form {
        margin-bottom: 20px;
    }

    #search-form input[type="text"] {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 30px;
    }

    .full-site-link {
        font-size: 12px;
        color: #fff;
        text-decoration: none;
        display: block;
        text-align: center;
        height: 24px;
        line-height: 24px;
        background: #c71707;
    }

    .footer-menu {
        padding-top: 15px;
    }

    .footer-menu li a {
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        font-size: 17px;
    }

    .footer-bar {
        border-bottom: 1px solid #fff;
        padding-top: 10px;
        height: auto;
        line-height: normal;
    }

    .footer-bar > div > .on-left,
    .footer-bar > div > .on-right {
        display: none;
    }

    .footer-bar .on-center {
        width: 100%;
        float: none;
    }

    .footer-bar .on-center span {
        display: block;
        line-height: 16px;
    }

    .footer-bar .on-center .on-left {
        float: none;
    }

    .title-footer h2 {
        font-size: 17px;
        padding-bottom: 0;
    }

    .copyright > div > div {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 5px;
    }


    /* Temp */

    .super-slider.front,
    .front-buttons,
    .front-info,
    .front-map,
    .reviews-slider-block,
    .front-links {
        display: none;
    }
}