.feedback{
	background: #F7F7F7;
	padding: 10px;
	border: 1px solid #D9E0E7;
}
.feedback, .feedback td, .feedback input, .feedback .button_more {
	font: 11px/13px Tahoma, Verdana, Arial, Sans-Serif, Lucida Sans;
}
.feedback.corners{
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;	
	behavior: url(/bitrix/js/orion.misc/ie/PIE.htc);
}
.feedback.shadow{
	box-shadow: 0 0 20px #ccc;	
	-moz-box-shadow: 0 0 20px #ccc;	
	-webkit-box-shadow: 0 0 20px #ccc;	
	behavior: url(/bitrix/js/orion.misc/ie/PIE.htc);
}
.feedback.grad{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#ddd));
	background-image: -webkit-linear-gradient(top,#FEFEFE,#ddd);
	background-image: -moz-linear-gradient(top,#FEFEFE,#ddd);
	background-image: -ms-linear-gradient(top,#FEFEFE,#ddd);
	background-image: -o-linear-gradient(top,#FEFEFE,#ddd);
	background-image: linear-gradient(top,#FEFEFE,#ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE',EndColorStr='#dddddd');	
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE',EndColorStr='#dddddd')";
}
/*-----------------------------------------------------------------------------------------------*/
.feedback .caption{
	color: #36638E;
	border-bottom: 1px solid #DAE1E8;
	font-size: 1.09em;
	font-weight: bold;
	margin: 10px 0 15px 0;
	padding-bottom: 3px;
}
.feedback form{
	margin:0;
	padding:0;
}
.feedback .hide{
	display: none;
}
.feedback .starrequired{
	color: red;
}
/*-----------------------------------------------------------------------------------------------*/
.feedback .error-text{
	border: 1px solid #D4BC4C;
	background: #F9F6E7;
	padding: 5px;
	margin-top: 3px;
}
.feedback .error-text.float{
	position: absolute;
	width: 300px;
	right:-380px;
	top: 0;
}
.feedback .error-text .message{
	/*line-height: 21px;*/
}
.feedback .error-text.corners{
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	behavior: url(/bitrix/js/orion.misc/ie/PIE.htc);
}
.feedback .error-text.grad, 
.feedback .error-text.grad:hover{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#d21c19),to(#a20b10));
	background-image: -webkit-linear-gradient(top,#d21c19,#a20b10);
	background-image: -moz-linear-gradient(top,#d21c19,#a20b10);
	background-image: -ms-linear-gradient(top,#d21c19,#a20b10);
	background-image: -o-linear-gradient(top,#d21c19,#a20b10);
	background-image: linear-gradient(top,#d21c19,#a20b10);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#d21c19',EndColorStr='#a20b10');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#d21c19',EndColorStr='#a20b10')";
}
/*-----------------------------------------------------------------------------------------------*/
.feedback .inputtext, .feedback .tags input, .feedback .UTDateTime input{
	border: 1px solid #C0CAD5;
	padding: 4px;
	/*margin: 0 0 10px 0;*/
	width: 100%;
	/*height:21px;*/
}
/*-----------------------------------------------------------------------------------------------*/
.feedback .corner{
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}
.feedback .shadow{
	box-shadow: 0 0 5px #D2D2D2;
	-moz-box-shadow: 0 0 5px #D2D2D2;
	-webkit-box-shadow: 0 0 5px #D2D2D2;
	behavior: url(/bitrix/js/orion.misc/ie/PIE.htc);
}
.feedback .grad{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#fefefe));
	background-image: -webkit-linear-gradient(top,#eee,#fefefe);
	background-image: -moz-linear-gradient(top,#eee,#fefefe);
	background-image: -ms-linear-gradient(top,#eee,#fefefe);
	background-image: -o-linear-gradient(top,#eee,#fefefe);
	background-image: linear-gradient(top,#eee,#fefefe);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee',EndColorStr='#fefefe');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee',EndColorStr='#fefefe')";	
}
.feedback .grad:hover, .feedback .grad:focus {
	background: white;
}
/*-----------------------------------------------------------------------------------------------*/
.feedback .inputtext:focus{
	color: black;/*#0459b7;*/
}
.feedback .datetime, .feedback .UTDateTime input{
	width: 86%;
}
.feedback .textarea{
	border: 1px solid #ccc;
	padding: 3px 5px;
	width: 100%;
}

.feedback .bxlhe-frame{
	border: 1px solid #ccc;
	padding: 2px;
	width: 100%;
}
/*--select---------------------------------------------------------------------------------------------*/
.feedback .select, .feedback .user-type select{
	background: white;
	/*margin: 0 0 5px 0;*/
	width: 100%;	
}
/*--button---------------------------------------------------------------------------------------------*/

.feedback .button_blue{
	margin-top: 10px;

  text-align: center;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  *display: inline;
  position: relative;
  line-height: normal;
  zoom: 1;
}

.feedback .button_blue .button{
  border: 1px solid;
  background: none;
  font-size: 11px;
  line-height: 11px;
  margin: 0px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px;
  *padding: 5px 15px 3px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  overflow: visible;
}

.feedback .button_blue .button::-moz-focus-inner
{
  border: 0;
}

.feedback .button_blue {
  border: 1px solid #4e6f93;
  border-top-color: #517295;
  background: #5D81A7;
}
.feedback .button_blue .button {
  border-top-color: #789ABF;
  border-bottom-color: #5980A9;
  border-left-color: #5980A9;
  border-right-color: #5980A9;
  color: #FFF;
  text-shadow:0 1px 0 #45688E;
  *border: 0;
  background: url(images/button_vk.png) #6181a6 repeat-x top;
  background-position: 0px -16px;
  *background-position: 0px -16px;
}
.feedback .button_blue .button:hover
{
  background-position: 0px -8px;
}
.feedback .button_blue .button:active
{
  background: #5e80a5;
  border: 1px solid #5e80a5;
  position:relative;
}


/*
 New input buttons with gradient
*/
.feedback .button_blue{
  text-align: center;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  *display: inline;
  position: relative;
  line-height: normal;
  zoom: 1;
}
.feedback .button_blue .button{
  border: 1px solid;
  background: none;
  font-size: 11px;
  line-height: 11px;
  margin: 0px;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  padding: 4px 14px;
  *padding: 5px 15px 3px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  overflow: visible;
}

.feedback .button_blue .button::-moz-focus-inner,
{
  border: 0;
}

.feedback .button_blue {
	width: 90px;
  border: 1px solid #4e6f93;
  border-top-color: #517295;
  background: #5D81A7;
}
.feedback .button_blue .button {
  border-top-color: #789ABF;
  border-bottom-color: #5980A9;
  border-left-color: #5980A9;
  border-right-color: #5980A9;
  color: #FFF;
  text-shadow:0 1px 0 #45688E;
  *border: 0;
  background: url(images/button_vk.png) #6181a6 repeat-x top;
  background-position: 0px -16px;
  *background-position: 0px -16px;
}
.feedback .button_blue .button:hover
{
  background-position: 0px -8px;
}
.feedback .button_blue .button:active
{
  background: #5e80a5;
  border: 1px solid #5e80a5;
  position:relative;
}




/*---------------------------------------------------------------------------------------------------*/
.feedback .submit-td{
	text-align: center;
}
.feedback .note{
	color: #aaa;
}
/*--data-table----------------------------------------------------------------------------------------*/
.feedback .data-table{
	border: 0;
}
.feedback .data-table td.data .wrapper{
	position: relative;
}
.feedback .data-table td.label{
	font-weight: normal;
}
.feedback .data-table td.label, .feedback .data-table td.data{
	padding: 5px;
}
.feedback .data-table td.data label{
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
	cursor: pointer;
	float: none;
}
/*--data-table row cell---------------------------------------------------------------------------------------------*/
.feedback td{
	border: 0 !important;
	background: transparent!important;
}
/*---data table label align--------------------------------------------------------------------------------*/
.feedback .l-align{text-align: left;}
.feedback .c-align{text-align: center;}
.feedback .r-align{text-align: right;}
.feedback .t-valign{vertical-align: top;}
.feedback .c-valign{vertical-align: middle;}
.feedback .b-valign{vertical-align: bottom;}
/*--------------------------------------------------------------------------------------------------------*/
.feedback .notetext{
	color: green;
}
/*--CAPTCHA--*/
#captcha_block{position:relative;}
#captcha_block .ajax_loader{
	display:none; 
	position:absolute; 
	width:180px; height:40px;
	background: #FFF url(images/ajax-loader.gif) center no-repeat;
}