.niceCheck {
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	background: url(images/checkbox.png);
	overflow: hidden;
	
	vertical-align: middle;
}

.niceChecked {
	background-position: 0 -17px;
}

.niceCheck input {
	margin-left: -100px;
}
