.niceCheck {
	width: 15px;
	height: 14px;
	display: inline-block;
	cursor: pointer;
	background: url(images/checkbox.gif) no-repeat;
	overflow: hidden;
	margin-bottom: 3px;
	vertical-align: middle;
}

.niceChecked {
	background-position: 0 -14px;
}

.niceCheck input {
	margin-left: -100px;
}
