.paginator {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.paginator__link {
    display: inline-block;
    margin: 0 13px;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
}

.paginator__link--current {
    font-weight: bold;
    color: #c61700;
}

.paginator__arr {
    width: 13px;
    height: 22px;
    margin: 0 25px;
    display: inline-block;
    vertical-align: middle;
}
.paginator__arr--left {
    background-image: url('../images/arr-left.png');
}
.paginator__arr--right {
    background-image: url('../images/arr-right.png');
}

.show-all-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}