.user-settings {
  margin-bottom: 20px;
}
.user-settings-inner {
  margin-bottom: 35px;
  overflow: hidden;
}
.user-settings .profile-settings-edit {
  color: #c51600;
  font-size: 22px;
  text-decoration: none;
}
.user-settings .photo {
  float: left;
  text-align: center;
}
.user-settings .photo img {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #f4d1cc;
}
.user-settings .photo a {
  color: #2a2a2a;
  font-size: 14px;
}
.user-settings-description h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
.user-settings-info {
  margin-left: 240px;
  overflow: hidden;
}
.user-settings-info .name {
  margin-bottom: 45px;
}
.user-settings-info .name span {
  font-size: 22px;
}
.user-settings .communicate-inner {
  float: left;
  width: 40%;
}
.user-settings .communicate .radio {
  float: left;
}
.user-settings .communicate .radio label {
  color: #a0a0a0;
  font-size: 18px;
}
.user-settings .communicate-title {
  float: left;
  color: #a0a0a0;
  font-size: 18px;
}
.user-settings .communicate-existing {
  margin-bottom: 5px;
  margin-left: 90px;
}
.user-settings .communicate-existing span {
  color: #303030;
  font-size: 22px;
}
.user-settings .communicate-add {
  margin-left: 90px;
}
.user-settings .communicate-add a {
  color: #2a2a2a;
  font-size: 14px;
}
.user-settings .communicate-add a span {
  padding-right: 5px;
  color: #c51600;
}
.user-settings .phone {
  margin-bottom: 40px;
  overflow: hidden;
}
.user-settings .email {
  overflow: hidden;
}
.drivers-settings .form-group {
  margin-bottom: 40px;
}
.drivers-settings .form-group-radial div {
  margin-bottom: 10px;
  overflow: hidden;
}
.drivers-settings .form-group-radial label {
  font-size: 18px;
}
.drivers-settings .form-group h3 {
  margin-bottom: 10px;
  color: #2d2d2d;
}
.drivers-settings .radio-options {
  overflow: hidden;
}
.drivers-settings .address-list {
  margin-bottom: 10px;
  overflow: hidden;
}
.drivers-settings .address-input,
.drivers-settings .address-select {
  float: left;
  margin-right: 10px;
}
.drivers-settings .address-select {
  width: 20%;
}
.drivers-settings .address input {
  width: 20%;
}
.drivers-settings .address #house,
.drivers-settings .address #apartment {
  width: 90px;
}
.drivers-settings .birthday-select {
  width: 13%;
  margin-right: 10px;
}
.drivers-settings .marriage {
  float: left;
  margin-right: 80px;
}
.drivers-settings .children {
  float: left;
}
.drivers-settings .children-have {
  float: left;
  margin-right: 20px;
}
.drivers-settings .children-input-age {
  margin-top: -5px;
}
.drivers-settings .driving-experience input {
  float: left;
  width: 100px;
  margin-right: 10px;
}
.drivers-settings .driving-experience label {
  display: inline-block;
  line-height: 30px;
}
.drivers-settings .person-relationship-select {
  width: 20%;
}
.drivers-settings .person-name {
  overflow: hidden;
}
.drivers-settings .person-name-group {
  float: left;
  width: 20%;
  margin-right: 10px;
}
.drivers-settings .person-name-group input {
  width: calc(90%);
}
#addPerson {
  position: relative;
}
#addPersonCancel {
  position: absolute;
  top: -22px;
  left: 340px;
  color: #c51600;
}
#addPersonCancel span {
  padding-right: 5px;
}
.password-settings {
  padding-top: 40px;
}
.password-settings .form-control {
  overflow: hidden;
}
.password-settings label {
  display: inline-block;
  margin-bottom: 10px;
}
.password-settings-input {
  float: left;
  position: relative;
  margin-right: 45px;
  margin-bottom: 10px;
}
.password-settings-input:after {
  content: "\f06e";
  position: absolute;
  top: 4px;
  right: 5px;
  color: #c51600;
  font-family: FontAwesome, serif;
  font-size: 22px;
}
.password-settings-input input {
  width: 190px;
}
.password-settings a {
  float: left;
  line-height: 30px;
  color: #2d2d2d;
}
.password-settings .helper {
  display: block;
  margin-bottom: 40px;
  color: #a0a0a0;
  font-size: 12.5px;
}
