div#bx_google_map_control a {text-decoration: none; color: black;}
div.bx-google-map-controls-group {margin-bottom: 15px;}

div #bx_google_map_contol textarea {height: 80px; width: 200px;}

ul#bx_google_points, ul#bx_google_polylines, #bx_google_position, ul.bx-google-address-search-results {
	display: block; list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0 0 10px 0; padding: 0px;
}
ul#bx_google_points li, ul#bx_google_polylines li, #bx_google_position li {
	font-size: 11px;
	display: block;
	overflow: hidden;
	height: 18px;
	margin: 0px 0px 0px 15px;
	padding: 0px;
	white-space: nowrap;
	position: relative;
}

ul#bx_google_points li a, ul#bx_google_polylines li a {display: block;}
ul#bx_google_points li a.bx-google-point {display: block; overflow: hidden; margin-right: 20px; padding: 2px; height: 18px;}
* html .bx-google-point {width: 215px;}
ul#bx_google_points li a.bx-google-delete {
	background-image: url(/bitrix/themes/.default/public/panel_new/buttons/delete.gif); 
	height: 18px; width: 18px; position: absolute; right: 0px;
}

div#bx_google_map_address_search {
	position: absolute; margin-top: 390px; text-align: right; width: 500px;
	padding: 4px 0px;
}

ul.bx-google-address-search-results {
	font-size: 12px;
	display: block;
	position: absolute;
	border: solid 1px #BDBDBD;
	z-index: 2005;
	width: 400px;
	color: black;
	background-color: white;
	padding: 4px 8px;
}

ul.bx-google-address-search-results li {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	padding: 0px;
	border-top: solid 1px #D2D2D2;
	height: 26px;
}

ul.bx-google-address-search-results li.bx-google-first {
	border-top: none;
}

ul.bx-google-address-search-results li.bx-google-notfound {
	border-top: none;
	padding-top: 5px;
}

ul.bx-google-address-search-results li a {
	display: block;
	text-decoration: none;
	padding-top: 6px;
	height: 26px;
}

ul.bx-google-address-search-results li a span {padding-left: 13px; display: block; color: black;}

ul.bx-google-address-search-results li a:hover {
	background-image: url(/bitrix/components/bitrix/map.google.view/images/gradient.gif);
}

ul.bx-google-address-search-results li a:hover span {
	background-image: url(/bitrix/components/bitrix/map.google.view/images/arrow.gif);
	background-position: left center;
	background-repeat: no-repeat;
}