html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}


.clearfix, .cf{
    zoom: 1; }
.clearfix:before, .clearfix:after, .cf:before, .cf:after {
    content: "";
    display: table; }
.clearfix:after, .cf:after {
    clear: both; }

/*****************
    JQUERY UI
    ***************/
.ui-selectmenu-button {
    display: block;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 3px 9px 0;
    margin-top: 15px;
    line-height: 31px;
    background-color: #fff;
    outline: none;
    cursor: pointer;

}

.ui-selectmenu-button .ui-icon-triangle-1-s {
    display: block;
    width: 9px;
    height: 5px;
    position: absolute;
    top: 14px;
    right: 9px;
    background-image: url('../images/arr-down--grey.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
.ui-selectmenu-menu .ui-menu {
    overflow: auto;
    /* Support: IE7; */
    overflow-x: hidden;
    padding-bottom: 1px;
}
.ui-selectmenu-open {
    display: block;
}
.ui-menu {
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #fbdee0;
}
.ui-menu-item {
    padding: 10px 10px 5px;
    cursor: pointer;
}
.ui-menu-item.ui-state-focus {
    background-color: #F7F7F7;
}

.ui-slider {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: relative;
}

.ui-slider-range {
    height: 10px;
    position: absolute;
    top: -3px;
    background-color: #c51700;
}

.ui-slider-handle {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: -8px;
    top: -6px;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #c51700;
    border-radius: 50%;
    outline: none;
}


/* /JQUERY UI */

/****************************
    Main styles
******************************/
body {
    font-family: 'Myriad Pro', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #2c2c2c;
    line-height: 1.2;
}

h1 {
    margin: 0 0 28px;
    font-size: 24px;
    font-weight: normal;
}

h2 {
    margin: 0 0 28px;
    font-size: 24px;
    font-weight: normal;
}

p {
    margin: 0 0 25px;
}

a {
    color: #2c2c2c;
}

input[type=checkbox] {
    visibility: hidden;
}

section, footer {
    width: 100%;
    min-width: 1168px;
}

footer {
    border-top: 1px solid #bababa;
    background: url("../images/footer-bg.png") left top repeat-x;
}

.footer {
    background-position: center top;
}

.wrapper--sector {
    width: 1168px !important;
    margin: 0 auto;
    position: relative;
}

.logo a {
    display: block;
    height: 100%;
    width: 100%;
}

/****************************
    Добавлять смело можно отсюда
******************************/

.section--grey {
    background-color: #f7f7f7;
}

.section--shadow {
    box-shadow: inset 0 10px 20px #efefef;
}

.column--wide-left {
    width: 884px;
    float: left;
}

.column--small-right {
    width: 253px;
    float: right;
}

.red-text {
    color: #c61700;
}

.valigner {
    width: 0;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.padding_forty {
    padding: 0 20px;
}

.underlined {
    text-decoration: underline;
}

.select--styled-ui {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 3px 9px 0;
    margin-top: 15px;
    border: none;
    outline: none;
}

.styledCheckbox {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: #fff;
    margin: 0 10px 0 0;
    position: relative;
    border: 1px solid #F4D1CC;
}

.styledCheckbox input {
    visibility: hidden;
    width: 9px;
    height: 9px;
}

.styledCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
    background: transparent;
}

.styledCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 7px;
    height: 4px;
    background: rgba(0, 0, 0, 0);
    top: 2px;
    left: 2px;
    border: 3px solid #6e6f6e;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.styledCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.styledCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/****************************
    Секция с текстом
******************************/
.section--catalog-top {
    padding-top: 40px;
    border-bottom: 1px solid #fff;
    position: relative;
}

.cat_main_nav {
    margin-top: 32px;
}

.cat_nav {}
.cat_nav__link {
    display: inline-block;
    width: 287px;
    height: 34px;
    margin-right: 11px;
    padding-top: 5px;
    vertical-align: baseline;
    background-color: #fff;
    color: #898989;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
}
.cat_nav__link--active {
    background-color: #c61700;
    color: #fff;
}
.cat_nav__link--last {
    margin-right: 0;
}

.watched-late {
    padding-top: 5px;
    text-align: right;
    font-size: 18px;
    line-height: 34px;
    position: relative;
}

.watched-late:hover .watched-late__pop {
    display: block;
}

.watched-late__pop {
    display: none;
    position: absolute;
    left: -268px;
    top: 0;
    width: 245px;
    padding: 10px 10px 0;
    border: 1px solid #efc2c5;
    background: #f2f2f2;
    font-size: 15px;
    text-align: left;
    z-index: 3;
}

.watched-late__pop:after {
    content: url("../images/pop_ar.png");
    position: absolute;
    top: 7px;
    right: -9px;
}

.watched-late__listtable {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.3;
}

.watched-late__listtable__ltd {
    width: 155px;
}

.watched-late__listtable__rtd {
    text-align: right;
}

.watched-late__show-all-link {
    color: #858484;
}

/****************************
   Секция фильтра по центру
******************************/
.section--catalog-filter {
    padding: 40px 0 30px;
    position: relative;
}

.filter-indicator {
    margin-bottom: 27px;
}
.filter-indicator__items {
    display: inline-block;
    margin-left: 16px;
}
.filter-indicator__item {
    display: inline-block;
    margin-right: 16px;
}
.filter-indicator__red-cross {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 8px;
    background-image: url('../images/red-cross.png');
    vertical-align: baseline;
}

.num-by-page {
    float: right;
    width: 402px;
    line-height: 34px;
    text-align: right;
}
.num-by-page__nums {
    display: inline-block;
    text-align: right;
}
.num-by-page__num {
    padding-left: 13px;
    color: #313131;
}
.num-by-page__num--active {
    color: #c61700;
}

.sort-by {}
.sort-by__selecter {
    display: inline-block;
    width: 210px;
    margin-left: 30px;
}
.sort-by__selecter .ui-selectmenu-button {
    display: inline-block;
    padding: 0 9px 0;
    vertical-align: middle;
    border: 1px solid #f4d1cc;
    margin-top: 0;
}
.sort-by__selecter .ui-selectmenu-button .ui-icon-triangle-1-s {
    display: block;
    width: 9px;
    height: 5px;
    position: absolute;
    top: 12px;
    right: 9px;
    background-image: url('../images/arr-down--grey.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.sort-by__select {
    border: 1px solid #f4d1cc;
}

/****************************
    Секция со списком б/у
******************************/
.section--acatalog-list {
    padding: 19px 0 0;
    position: relative;
}

.section--acatalog-list .catalog-items__item {
    border-top: 1px solid #f1aeb2;
    border-bottom: 1px solid #f1aeb2;
}

.section--catalog-list {
    padding: 20px 0 110px;
    position: relative;
}

.catalog-items__item {
    padding: 9px 0;
    margin-bottom: 19px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}

.catalog-item__img {
    float: left;
    position: relative;
    width: 220px;
    height: 122px;
    margin-right: 20px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #d5d5d5;
}
.catalog-item__img img {
    display: inline-block;
    vertical-align: middle;
}
.catalog-item__amark {
    width: 24px;
    height: 22px;
    position: absolute;
    top: 0;
    right: 10px;
    background-image: url('../images/a.jpg');
}

.catalog-item__text {
    position: relative;
}

.catalog-item__text p {
    margin-bottom: 12px;
}

.catalog-item__text--bu {
    float: left;
    width: 642px;
}

.catalog-item__title,
.catalog-item__subtitle {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.catalog-item__title {
    margin: 10px 0 0;
}
.catalog-item__subtitle--bu {
    margin-bottom: 25px;
}

.catalog-item__description {
    width: 340px;
    font-size: 14px;
    color: #303030;
}

.catalog-item__price {
    position: absolute;
    top: 31px;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.catalog-item__action {
    position: absolute;
    top: 16px;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    color: #c61700;
    text-align: right;
}

.catalog-item__old-price {
    color: #787878;
    font-weight: normal;
    font-size: 14px;
    text-decoration: line-through;
}

.catalog-item__more-link {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 107px;
    padding: 9px 0 7px;
    background-color: #ececed;
    text-align: center;
    text-decoration: none;
}

.catalog-item__left-descr,
.catalog-item__right-descr {
    width: 48%;
    display: inline-block;
}

.paginator {
    position: relative;
    margin-top: 40px;
    text-align: center;
}

.paginator__link {
    display: inline-block;
    margin: 0 13px;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
}

.paginator__link--current {
    font-weight: bold;
    color: #c61700;
}

.paginator__arr {
    width: 13px;
    height: 22px;
    margin: 0 25px;
    display: inline-block;
    vertical-align: middle;
}
.paginator__arr--left {
    background-image: url('../images/arr-left.png');
}
.paginator__arr--right {
    background-image: url('../images/arr-right.png');
}

.show-all-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
}

/****************************
    Сайдбар
******************************/
.sidebar {
    background-color: #fff;
    position: absolute;
    width: 253px;
    z-index: 1;
}

.sidebar--bu {
    top: -225px;
}

.sidebar--new {
    top: -685px;
}

.widget {

}
.widget.widget--active {
    border-bottom: none;
}
.widget--active .widget__content,
.ui-accordion-content-active {
    display: block;
    border-bottom: 1px solid #ffffff;
}

.widget__allcontent {
    background-color: #F2F2F2;
}

.widget__title {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 51px;
    padding: 3px 30px 0 19px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    border-bottom: 1px solid #ffffff;
    outline: none;
}

.widget__content {
    padding: 20px;
}

.widget__content--grey {
    background-color: #f2f2f2;
}

.widget__content--model-mark {
    border-bottom: 1px solid #ffffff;
}

.widget__title--clickable {
    background-image: url('../images/arr-down.png');
    background-position: right 25px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.category-list {
    padding: 7px 0 0;
    margin: 0;
}
.category-list li {
    padding-left: 18px;
    margin-bottom: 13px;
    list-style: none;
    font-size: 16px;
    line-height: 1.2;
}

.category-list li ul {
    margin-top: 13px;
    display: none;
}

.category-list a {
    text-decoration: none;
    cursor: pointer;
}
.category-list a.opener {
    position: relative;
    text-decoration: underline;
}
.category-list a.opener:before {
    content: url('../images/li-arr-pink.png');
    position: absolute;
    left: -17px;
    top: -2px;
}

.category-list a.opener.active:before {
    transform: rotate(90deg);
}

.big-filter {}

.big-filter__label--widget {
    position: relative;
    display: block;
    margin-bottom: 15px;
}

.big-filter__checkbox--widget {
    width: 14px;
    height: 14px;
    border: 1px solid #F4D1CC;
}

.big-filter__label--model {
    margin-top: 20px;
}

.big-filter__checkboxes li {
    margin-bottom: 15px;
}

.big-filter__checkboxes li:last-of-type {
    margin-bottom: 0;
}

.big-filter-controls {
    text-align: center;
}

.big-filter-controls__show-result {
    display: inline-block;
    width: 168px;
    height: 31px;
    margin-bottom: 20px;
    line-height: 31px;
    background-color: #c51700;
    color: #fff;
    cursor: pointer;
}

.big-filter-controls__link {
    margin-bottom: 20px;
    text-decoration: underline;
    cursor: pointer;
}

.big-filter__price {
    position: absolute;
    top: 0;
    right: 0;
}

.big-fiter-price__inputs,
.big-fiter-slider__input {
    margin-bottom: 25px;
}

.big-fiter-price__input,
.big-fiter-slider__input {
    width: 104px;
}

.big-fiter-price__input input,
.big-fiter-slider__input input {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 31px;
    padding: 0 10px;
    background-color: #fff;
    border: none;
}

.big-fiter-price__input--right,
.big-fiter-slider__input--right {
    float: right;
}

.big-fiter-price__range,
.big-fiter-slider__range {
    margin-bottom: 25px;
}

.marks__item {
    margin-bottom: 10px;
}

.marks__logo {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 30px;
    margin-right: 15px;
    background-image: url('../images/marks_logos.png');
    background-repeat: no-repeat;
    background-position: center top;
}

.marks__logo--chevrolet {
    background-position-y: 7px;
}
.marks__logo--citroen {
    background-position-y: -35px;
}
.marks__logo--ford {
    background-position-y: -120px;
}
.marks__logo--kia {
    background-position-y: -161px;
}
.marks__logo--opel {
    background-position-y: -203px;
}
.marks__logo--peugeot {
    background-position-y: -75px;
}
.marks__logo--seat {
    background-position-y: -243px;
}
.marks__logo--ssangyong {
    background-position-y: -330px;
}
.marks__logo--skoda {
    background-position-y: -287px;
}
.marks__logo--volvo {
    background-position-y: bottom;
}

.mark__subselect {
    margin: 5px 20px 20px;
    display: none;
}

.mark__subselect .ui-selectmenu-button,
.mark__subselect select {
    border: 1px solid #CCCCCC;
}

.stars {
    margin-bottom: 25px;
}

.add-more-select {
    margin-top: 20px;
    text-align: right;
    cursor: pointer;
}

.add-more-mark-model,
.remove-link,
.remove-select {
    text-align: right;
    cursor: pointer;
}

.remove-link {
    margin-top: 15px;
}

.remove-select {
    display: none;
    margin-top: 15px;
}

.add-more-select span,
.add-more-mark-model span,
.remove-link span,
.remove-select span {
    text-decoration: underline;
}

/****************************
    Секция с внизу текстом
******************************/
.section--catalog-text {
    min-height: 475px;
    padding-top: 40px;
    position: relative;
}

/****************************
    Секция со списком логотипов
******************************/
.section--catalog-logos {
    padding: 10px 0 30px;
    position: relative;
}

.logos {
    text-align: center;
}

.logo-item {
    display: inline-block;
    width: 160px;
    height: 150px;
}

.logo-item__img {
    display: inline-block;
    vertical-align: middle;
}

.logo-item__type {
    display: inline-block;
    vertical-align: middle;
    min-width: 71px;
    padding-top: 80px;
    font-size: 16px;
    background-position: center top;
    background-repeat: no-repeat;
}

.logo-item__type:hover {
    cursor: pointer;
    color: #c61700;
}

.logo-item__type--sedan {
    background-image: url('../images/types/sedan.png');
}

.logo-item__type--hatchback {
    background-image: url('../images/types/hatchback.png');
}

.logo-item__type--universal {
    background-image: url('../images/types/universal.png');
}

.logo-item__type--crossover {
    background-image: url('../images/types/crossover.png');
}

.logo-item__type--vnedoroz {
    background-image: url('../images/types/vnedoroz.png');
}

.logo-item__type--kupe {
    background-image: url('../images/types/kupe.png');
}

.logo-item__type--cabriolet {
    background-image: url('../images/types/cabriolet.png');
}

.logo-item__type--pickup {
    background-image: url('../images/types/pickup.png');
}

.logo-item__type--minivan {
    background-image: url('../images/types/minivan.png');
}

.logo-item__type--commerce {
    background-image: url('../images/types/commerce.png');
}

.logo-item__type--sedan:hover {
    background-image: url('../images/types/sedan_active.png');
}

.logo-item__type--hatchback:hover {
    background-image: url('../images/types/hatchback_active.png');
}

.logo-item__type--universal:hover {
    background-image: url('../images/types/universal_active.png');
}

.logo-item__type--crossover:hover {
    background-image: url('../images/types/crossover_active.png');
}

.logo-item__type--vnedoroz:hover {
    background-image: url('../images/types/vnedoroz_active.png');
}

.logo-item__type--kupe:hover {
    background-image: url('../images/types/kupe_active.png');
}

.logo-item__type--cabriolet:hover {
    background-image: url('../images/types/cabriolet_active.png');
}

.logo-item__type--pickup:hover {
    background-image: url('../images/types/pickup_active.png');
}

.logo-item__type--minivan:hover {
    background-image: url('../images/types/minivan_active.png');
}

.logo-item__type--commerce:hover {
    background-image: url('../images/types/commerce_active.png');
}

/****************************
    Секция с выдержками из категорий
******************************/
.section--catalog-cats-previews {
    padding: 45px 0 50px;
}

.catalog_excerpt {
    margin-bottom: 30px;
}

.catalog_excerpt__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.catalog-items--excerpt {
    padding-top: 10px;
    border-top: 1px solid #D5D5D5;
}

.catalog-items__item--excerpt {
    width: 215px;
    float: left;
    border: none;
}

.catalog-items__item--excerpt:nth-child(2) {
    margin: 0 119px;
}

.catalog-item--excerpt {
    position: relative;
}

.catalog-item__img--excerpt {
    width: 100%;
    height: 85px;
    float: none;
    border: none;
}

.catalog-item__img--excerpt img {
    max-width: 100%;
}

.catalog-item__title--excerpt {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: normal;
}

.catalog-item__description--excerpt {
    margin-bottom: 20px;
    color: #787878;
}

.catalog-item__description--excerpt p {
    margin-bottom: 0;
}

.catalog-item__price--excerpt {
    position: relative;
    top: auto;
    right: auto;
    text-align: left;
}

.catalog-item__more-link--excerpt {
    bottom: 1px;
}

.catalog_excerpt__look-all {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #787878;
}

/****************************
    Каталог бренда
******************************/
.sidebar--brand {
    margin-top: -244px;
    position: relative;
}

.section--catalog-brand-logos {
    padding: 30px 0;
}

.h2logo {
    display: inline-block;
    width: 110px;
    height: 90px;
    text-align: left;
}

.catalog-brand__h2 {
    display: inline-block;
    vertical-align: middle;
}

.catalog-items--brand {
    padding: 35px 0 0;
    position: relative;
}

.catalog-items__item--brand {
    width: 224px;
    height: 236px;
    float: left;
    border: none;
    position: relative;
}

.catalog-items__item--brand:nth-child(3n - 1) {
    margin: 0 106px;
}

.catalog-item--brand {
    width: 215px;
    padding: 3px;
    border: 1px solid #ffffff;
    margin-bottom: 60px;
}

.catalog-items__item--brand:hover .catalog-item--brand {
    border-color: #F4D1CC;
    position: absolute;
    top: 9px;
    left: 0;
    z-index: 3;
}

.catalog-item__img--brand {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 120px;
    float: none;
    border: 1px solid #f5f5f5;
}

.catalog-item__img--brand img {
    max-width: 98%;
}

.catalog-item__title--brand {
    margin-bottom: 8px;
    padding: 0 20px;
    font-size: 17px;
    font-weight: normal;
}

.catalog-item__description--brand {
    display: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 215px;
    padding: 20px 20px 8px;
    color: #2c2c2c;
    font-size: 14px;
    background-color: #ececed;
    border-top: 1px solid #ffffff;
    z-index: 3;
}

.catalog-items__item--brand:hover .catalog-item__description--brand {
    display: block;
}

.catalog-item__price--brand {
    position: relative;
    top: auto;
    right: auto;
    padding: 0 20px;
    text-align: left;
}

.catalog-item__price--brand span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    color: #787878;
}

.catalog-item__more-link--brand {
    position: static;
    bottom: auto;
    right: auto;
    width: auto;
    margin-top: 15px;
}



/***  new section  ***/

.footer-menu input[type="text"] {
    margin: 23px 0;
}

#models-wrapper .catalog-items__item {
    margin: 0 102px 0 0;
}

#models-wrapper .catalog-items__item--excerpt:nth-child(2) {
    margin: 0 102px 0 0;
}

#models-wrapper .catalog-items__item--excerpt:nth-child(4) {
    margin: 0;
}

#models-wrapper .catalog_excerpt__look-all {
    margin: 20px 0 0 0;	
}

#models-wrapper .cat_nav__link {
    box-shadow: 0 0 30px #cccccc;
    width: 224px;
}

#models-wrapper .cat_nav__link:hover {
    background-color: #c61700;
    color: #fff;
}

#models-wrapper .cat_nav {
    margin: 40px 0 0 0;
}

#models-wrapper .tab-content {
	display: none;
}

#models-wrapper .tab-content--active {
    display: block;
}

.description-item {
width: 372px;
	margin: 20px 20px 60px 0;
	display: inline-block;
	vertical-align: top;
}

.description-item:nth-child(3n) {
	margin: 20px 0 60px 0;
}

.description-item img {
	margin: 0 0 20px 0;
}

.read-more-button {
	text-align: center;
  margin: 50px 0;

}

.read-more-button a {
	width: 365px !important;
}

#characteristics > div > div > img {
	margin: 40px auto;
}

.testimonials {
background-position: center center;
  background-size: cover;
}

.testimonials li {
	width: 100% !important;
}

.top-bar {
	font-family: inherit;
}

.my-table {
	margin: 20px 0;
	clear: both;
}

.may-table-caption {
	line-height: 40px;
padding: 0 15px;
	  font-size: 24px;
  font-weight: normal;
background: #f7f7f7;
border-bottom: 1px solid #ccc;
}

.my-table-line {
	clear: both;
border-bottom: 1px solid #ccc;
padding: 0 15px;
line-height: 30px;
}

.my-table-line:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}

.my-table-line-label {
	width: 30%;
	float: left;
border-right: 1px solid #ccc;
margin: 0 -1px 0 0;
}

.my-table-line-label.one-section {
	float: left;
	border-right: 1px solid #ccc;
	margin: 0 -1px 0 0;
	width:  70%;
	text-align: center;
}

.my-table-line-label.one-section:last-child {
	border-right: none;
}

.my-table-line-label.two-section {
	float: left;
border-right: 1px solid #ccc;
margin: 0 -1px 0 0;
	width:  35%;
text-align: center;
}

.my-table-line-label.two-section:last-child {
	border-right: none;
}

.my-table-line-label.three-section {
	float: left;
border-right: 1px solid #ccc;
margin: 0 -1px 0 0;
	width:  23.333%;
text-align: center;
}

.my-table-line-label.three-section:last-child {
	border-right: none;
}

.my-table-line-label.six-section {
	float: left;
border-right: 1px solid #ccc;
margin: 0 -1px 0 0;
	width:  11.666%;
text-align: center;
}

.my-table-line-label.six-section:last-child {
	border-right: none;
}

#models-wrapper .testimonials {
	margin-top: -39px;
}

.super-slider {
	min-height: 490px;
width: 1168px;
margin: 0 auto;
}

.super-slider .left-menu {
  position: relative;
  z-index: 100;
  width: 170px;
  float: left;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
margin: -28px 0 0 0;
}

.super-slider .right-menu {
  position: relative;
  z-index: 100;
  width: 252px;
  float: right;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
margin: -28px 0 0 0;
}

.car-price {
	text-align: center;
background: #2b2b2b;
color: #b0b0b0;
font-size: 28px;
padding: 10px 0;
}

.car-price span {
	color: #ffffff;
}

.car-links-one,
.car-links-two {
	padding: 20px 0 0 0;
text-align: center;

}

.car-links-one a,
.car-links-two a {
	display: block;
color: white;
line-height: 24px;
}

.car-links-two a  {
font-size: 22px;
}

.car-links-one a:hover,
.car-links-two a:hover {
	text-decoration: none;
}